<!-- <div class="inner_pages product_details"> -->
<!-- <div *ngIf="loading" class="loading-block" [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary"></div>
  <nb-card-body *ngIf="!loading">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{'COMPONENTS.PRODUCT' | translate}}</h1>
        <div class="content_spacing">
          <nb-select [(selected)]="selectedItem" outline shape="rectangle">
            <nb-option *ngFor="let item of sidemenuLinks" [value]="item.id" (click)="route(item.link)">{{ item.title }}</nb-option>
          </nb-select>
        </div>

        <div class="content_spacing">

        </div>

      </nb-card-header>
    </div>
    
  </nb-card-body> -->
<!-- <nb-card-header class="main_header">
    <h1 class="page_title">{{'COMPONENTS.PRODUCT' | translate}}</h1>

    <div class="content_spacing">
      <nb-select [(selected)]="selectedItem" outline shape="rectangle">
        <nb-option *ngFor="let item of sidemenuLinks" [value]="item.id" (click)="route(item.link)">{{ item.title }}</nb-option>
      </nb-select>
    </div>
  </nb-card-header> -->
<div>
  <ngx-product-form *ngIf="product.id" [product]="product" _title="COMPONENTS.PRODUCT"></ngx-product-form>
</div>
<!-- </div> -->