<nb-card class="page-card inner_pages">
  <!-- <div *ngIf="loadingList" class="loading-block" [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary"></div> -->
  <nb-card-body [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary" class="storeList">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ 'COMPONENTS.STORES' | translate }}</h1>
        <div class="content_spacing_empty"></div>

      </nb-card-header>

      <ng2-smart-table [settings]="settings" [source]="source" (custom)="route($event)" class="home-table">
      </ng2-smart-table>

      <ngx-paginator (changePage)="changePage($event)" [pagesToShow]="5" [currentPage]="currentPage" [perPage]="perPage"
        [count]="totalCount" class="home-table">
      </ngx-paginator>
    </div>
  </nb-card-body>
</nb-card>