.image_browse {
    // width: 800px;
    // height: 500px;
    width: 98%;
    margin: auto;
    background: #fff;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 24px;
    // font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    color: #555;

    .titleBar {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        align-items: center;
        margin: -26px 0px 0px 0px;

        .title_text {
            margin: 0;
            padding: 12px;
            font-size: 1.5rem;
            font-weight: 600;
        }

        .close {
            right: 25px;
            top: 25px;
            width: 25px;
            height: 25px;
            opacity: 0.3;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }

            &:before,
            &:after {
                position: absolute;
                content: " ";
                height: 20px;
                width: 2px;
                background-color: #333;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }
    }

    .gallery_listing_main {
        overflow-y: auto;
        width: 100%;
        float: left;
        margin: 30px 0 0 0;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        max-height: 80vh;

        li {
            width: 25%;
            float: left;
            padding: 0 15px;
            list-style: none;
            margin-bottom: 20px;

            .gallery_listing_box {
                transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                display: block;
                padding: 0px;
                background: #ffffff;
                position: relative;
                height: 100%;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                    object-position: center;
                }

                .image-title-main {
                    background-color: rgba(0, 0, 0, 0.5);
                    width: 100%;
                    height: 100%;
                    left: 0;
                    bottom: 0;
                    position: absolute;
                    transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -ms-transition: all 0.5s ease;
                    -webkit-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transform: translateY(100%);
                    -moz-transform: translateY(100%);
                    -webkit-transform: translateY(100%);
                    -ms-transform: translateY(100%);
                    -o-transform: translateY(100%);

                    p {
                        color: #ffffff;
                        font-weight: 500;
                        margin: 0;
                        padding: 5px 10px;
                        font-size: 16px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        width: 100%;
                        transform: translate(-50%, -50%);
                        -webkit-transform: translate(-50%, -50%);
                        -moz-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        -o-transform: translate(-50%, -50%);
                    }

                }

                .close_main {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: -40px;
                    transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -ms-transition: all 0.5s ease;
                    -webkit-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;

                    i {
                        width: 35px;
                        height: 35px;
                        background-color: #ffffff;
                        border-radius: 35px;
                        display: inline-block;
                        line-height: 35px;
                        cursor: pointer;
                    }

                    .fa-eye {
                        float: left;
                        margin-left: 12px;
                        font-size: 16px !important;
                        color: #f79726 !important;
                    }

                    .fa-trash {
                        float: right;
                        margin-right: 12px;
                        font-size: 15px !important;
                        color: #ff0018 !important;
                    }

                }

                .image_box {
                    height: 100%;
                    width: 100%;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }

                &:hover {
                    .image-title-main {
                        transform: translateY(0%);
                        -moz-transform: translateY(0%);
                        -webkit-transform: translateY(0%);
                        -ms-transform: translateY(0%);
                        -o-transform: translateY(0%);
                    }

                    .close_main {
                        bottom: 10px;
                        transition: all 0.5s ease;
                        -moz-transition: all 0.5s ease;
                        -ms-transition: all 0.5s ease;
                        -webkit-transition: all 0.5s ease;
                        -o-transition: all 0.5s ease;
                    }

                }
            }

            .dropzone_custom {
                margin: 0;
                height: 200px;
            }

        }
    }
}


@media (max-width: 767px) {
    .image_browse {
        .gallery_listing_main {
            li {
                width: 50%;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .image_browse {
        .gallery_listing_main {
            li {
                width: 50%;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1099px) {
    .image_browse {
        .gallery_listing_main {
            li {
                width: 33.333333333333%;
            }
        }
    }
}

@media (min-width: 1100px) and (max-width: 1299px) {
    .image_browse {
        .gallery_listing_main {
            li {
                width: 33.333333333333%;
            }
        }
    }
}

@media (min-width: 1300px) and (max-width: 1499px) {
    .image_browse {
        .gallery_listing_main {
            li {
                width: 25%;
            }
        }
    }
}

@media (min-width: 1500px) and (max-width: 1600px) {
    .image_browse {
        .gallery_listing_main {
            li {
                width: 20%;
            }
        }
    }
}