<div [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary">


  <nb-card class="page-card inner_pages">
    <nb-card-body class="product_function">
        <div class="inner_pages_legacy">
            <form [formGroup]='discountForm'>

                  <div class="form-group">
                    <nb-radio-group formControlName="discountedRadio" name="discountedRadio" (valueChange)="discountSelected($event)">
                      <nb-radio class="shipping-radio" [value]="1">{{
                        'PRICE.DISCOUNTED_PRICE'|translate}} - TBD</nb-radio>
                    </nb-radio-group>
                    <span *ngIf="discountForm.controls.discountedRadio.value==1">*</span>
                  </div>
                  <div [ngClass]="discountForm.controls.discountedRadio.value==1 ? 'discount': 'disabled-discount'">
                    <input type="number" class="form-control inputText" id="discountedPrice" formControlName='discountedPrice'
                      placeholder="{{ 'PRICE.DISCOUNTED_PRICE' | translate}}">
                  </div>
              
              
                  <div class="form-group">
                    <nb-radio-group formControlName="percentageOffRadio" name="percentageOffRadio"
                      (valueChange)="percentageSelected($event)">
                      <nb-radio class="shipping-radio" [value]="2">{{
                        'PRICE.PERCENTAGE_OFF'|translate}}</nb-radio>
                    </nb-radio-group>
                    <span *ngIf="discountForm.controls.percentageOffRadio.value==2">*</span>
                  </div>
                  <div [ngClass]="discountForm.controls.percentageOffRadio.value==2 ? 'percentage': 'disabled-percentage'">
                    <input type="number" class="form-control inputText" id="percentageOff" formControlName='percentageOff'
                      placeholder="{{ 'PRICE.PERCENTAGE_OFF'|translate}}">
                  </div>
              
                  <div class="form-group">
                    <nb-radio-group formControlName="rebateRadio" name="rebateRadio" (valueChange)="rebateSelected($event)">
                      <nb-radio class="shipping-radio" [value]="3">{{ 'PRICE.REBATE_PRICE'|translate}}</nb-radio>
                    </nb-radio-group>
                    <label *ngIf="discountForm.controls.rebateRadio.value==3"
                      [ngClass]="discountForm.controls.rebateRadio.value==3 && 'mandatory'">*</label>
                  </div>
                  <div [ngClass]="discountForm.controls.rebateRadio.value==3 ? 'rebate': 'disabled-rebate'">
                    <input type="number" class="form-control inputText" id="rebatePrice" formControlName='rebatePrice'
                      placeholder="{{ 'PRICE.REBATE_PRICE'|translate}}">
                  </div>
                  <br />
                  <div class="form-group">
                    <div>
                      <nb-checkbox formControlName='timeBound'>
                        {{ 'Time bound promotion' | translate}}
                      </nb-checkbox>
                    </div>
                  </div>
              
                  <div class="row" *ngIf="discountForm.controls.timeBound.value == true">
              
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label class="col-form-label inputLabel">{{ 'Start Date' | translate}}</label>
                        <div>
                          <input class="form-control has-person-icon inputText" placeholder="Form Picker" formControlName='startDate'
                            [nbDatepicker]="formpicker2" [readOnly]="true">
                          <nb-datepicker #formpicker2></nb-datepicker>
                        </div>
                      </div>
                    </div>
              
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label class="col-form-label inputLabel">{{ 'End Date' | translate}}</label>
                        <div>
                          <input class="form-control has-person-icon inputText" placeholder="Form Picker" formControlName='endDate'
                            [nbDatepicker]="formpicker1" [readOnly]="true">
                          <nb-datepicker #formpicker1></nb-datepicker>
                        </div>
                      </div>
                    </div>
                  </div>
                  <nb-card-header class="main_header">
                    <div class="content_spacing">
                      <button type="button" nbButton class="success_button" [nbSpinner]="loading" nbSpinnerSize="large"
                        nbSpinnerStatus="control" (click)="save()">
                        {{'COMMON.SAVE' | translate }}
                      </button>
                    </div>
                  </nb-card-header>
            </form>
        </div>
    </nb-card-body>
  </nb-card>


</div>