// .shop-select{
//   width: 30%;
//   margin-bottom: 20px;
// }
.page-card {
  background: transparent;
  border: none;
  .userList {
    .main_header {
      padding: 0px 30px 10px 0px;
      .page_title {
        margin-top: -25px;
        font-weight: 600;
      }
    }
    .search {
      margin-left: 20px;
    }

    .pointer {
      height: 18px;
      width: 18px;
      margin-left: 20px;
      cursor: pointer;
    }
  }
}
:host ::ng-deep .page-card {
  .userList {
    .form-inline {
      background: #fff;
      margin: -10px 0 10px 0 !important;
      padding: 10px 0;
      border-radius: 3px;
    }
    .home-table {
      thead {
        .ng2-smart-titles {
          th {
            a {
              font-weight: 600;
            }
          }
        }
      }
      tbody {
        tr {
          cursor: pointer;
          &:hover,
          &.selected {
            background: #e6f3ff !important;
          }
          a.ng2-smart-action:not(:last-child) {
            padding-right: 0px !important;
            margin-right: 0px !important;
          }
          a.ng2-smart-action .nb-trash:before {
            font-size: 24px !important;
            color: #ff0018;
            padding: 0px 15px;
          }
          a.ng2-smart-action .nb-edit:before {
            font-size: 24px !important;
            color: #ffbe00;
            padding: 0px 15px;
          }
        }
      }
    }
  }
}
