<nb-card class="page-card inner_pages">
  <nb-card-body [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary" class="productList">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ 'COMPONENTS.PRODUCTS' | translate }}</h1>
        <div class="content_spacing_empty"></div>

      </nb-card-header>

      <form class="form-inline filter_section">
        <div class="filter_left_section">
          <input #search class="search form-control ng-pristine ng-valid ng-touched" value="{{ searchValue }}" type="text"
            placeholder="{{ 'COMPONENTS.SEARCH' | translate }}" (keydown.enter)="onSearch(search.value)" style="width:45%">
          <img class="pointer" src="../../../../assets/img/magnifying-glass.png" title="{{ 'COMMON.SEARCH' | translate}}"
            (click)="onSearch(search.value)" class="sda">
          <img class="pointer" src="../../../../assets/img/reload.png" title="{{ 'COMMON.RESET' | translate}}" alt=""
            (click)="resetSearch()" class="sda">

        </div>
        <div class="filter_right_section">
          <nb-select *ngIf="stores.length" class="store_select" outline shape="rectangle" (selectedChange)="choseStore($event)"
            [selected]="selectedStore">
            <nb-option *ngFor="let store of stores" [value]="store.code">{{ store.code }}</nb-option>
          </nb-select>
          <a class="createBtn " [routerLink]="['/pages/catalogue/products/create-product']">
            <img class="pointer sda" src="../../../../assets/img/plus.png" title="{{ 'COMPONENTS.CREATE_PRODUCT' | translate}}"
              alt="">
            <label>{{ 'COMPONENTS.CREATE_PRODUCT' | translate}}</label></a>
        </div>

      </form>

      <ng2-smart-table [settings]="settings" [source]="source" (custom)="route($event)" class="home-table">
      </ng2-smart-table>

      <ngx-paginator (changePage)="changePage($event)" [pagesToShow]="5" [currentPage]="currentPage" [perPage]="perPage"
        [count]="totalCount">
      </ngx-paginator>
    </div>
  </nb-card-body>
</nb-card>