<div class="inner_pages">
  <form #boxForm="ngForm" role="form" [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <nb-card-header class="main_header">
      <h1 class="page_title">Create Manage Box</h1>
      <div class="content_spacing">
        <nb-select placeholder="Language" outline shape="rectangle" [(ngModel)]="page.language" name="language"
          [selected]="'en'">
          <nb-option *ngFor="let lan of languages" [value]="lan.code">{{ lan.name }}</nb-option>
        </nb-select>
      </div>
      <div class="content_spacing">
        <button type="button" nbButton status="warning">Cancle</button>
      </div>
      <div class="content_spacing">
        <button type="button" nbButton class="success_button" [disabled]="!boxForm.form.valid" (click)="createBoxes()">Submit</button>
      </div>
    </nb-card-header>

    <div class="" [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary">
      <div class="custom_scroll" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <nb-card class="nb-card inline-form-card">
              <nb-card-header class="nb-card-header">Basic Details</nb-card-header>
              <nb-card-body class="nb-card-body">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <nb-checkbox [(ngModel)]="page.visible" name="visible" status="success">Visible</nb-checkbox>
                      <nb-checkbox [(ngModel)]="page.mainmenu" name="mainmenu" status="success">Display this page in
                        main
                        menu
                      </nb-checkbox>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label for="inputWebsite" class="label">Code <span>*</span></label>
                      <input type="text" [(ngModel)]="page.code" name="code" class="form-control" id="code" placeholder="Code"
                        required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label for="exampleInputPassword1" class="label">Order</label>
                      <input type="number" [(ngModel)]="page.order" name="order" class="form-control" id="order"
                        placeholder="Order">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label for="exampleInputPassword1" class="label">Box name <span>*</span></label>
                      <input type="text" [(ngModel)]="page.ePagename" name="ePagename" class="form-control" id="page_name"
                        placeholder="Page Name" required>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
          <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
            <nb-card class="nb-card inline-form-card">
              <nb-card-header class="nb-card-header">Box content</nb-card-header>
              <nb-card-body class="nb-card-body ckeditor">
                <ckeditor [config]="ckeConfig" debounce="500" #ckeditor>
                </ckeditor>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>