<div class="inner_pages create_box">

  <nb-card-header class="main_header">
    <h1 class="page_title" *ngIf="action == 'save'">{{'CONTENT.ADD_BOX_DETAILS' | translate}}</h1>
    <h1 class="page_title" *ngIf="action == 'edit'">{{'CONTENT.UPDATE_BOX_DETAILS' | translate}}</h1>
    <div class="content_spacing">
      <button type="button" nbButton class="cancel_button" (click)="goToback()">{{ 'COMMON.CANCEL'
        | translate}}</button>
    </div>
    <div class="content_spacing">
      <button type="button" nbButton *ngIf="action == 'edit'" class="success_button" [nbSpinner]="loader"
        nbSpinnerSize="large" nbSpinnerStatus="control" (click)="save()">
        {{ ( !loader ? 'COMMON.UPDATE' : '' ) | translate }}
      </button>
      <button type="button" nbButton *ngIf="action == 'save'" class="success_button" [nbSpinner]="loader"
        nbSpinnerSize="large" nbSpinnerStatus="control" (click)="save()">{{ ( !loader ? 'COMMON.SAVE' : '' ) | translate
        }}</button>
    </div>
  </nb-card-header>
  <div class="" [nbSpinner]="loader" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <form [formGroup]='form' #boxForm="ngForm" role="form" *ngIf="!loader">

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <nb-card class="nb-card inline-form-card">
            <nb-card-header class="nb-card-header">{{ 'CONTENT.BASIC_DETAILS' | translate}}</nb-card-header>
            <nb-card-body class="nb-card-body">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <nb-checkbox formControlName='visible'>{{ 'CONTENT.VISIBLE' | translate}}</nb-checkbox>
                    <!--<nb-checkbox [(ngModel)]="page.mainmenu" name="mainmenu">{{ 'CONTENT.MAINMENU' | translate}}</nb-checkbox>-->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label for="code" class="label inputLabel">{{ 'CONTENT.CODE' | translate}} <span>*</span></label>
                    <div>
                      <input type="text" class="form-control inputText" id="code" formControlName='code'
                        [readOnly]="uniqueCode" placeholder="{{ 'COMMON.CODE' | translate}}"
                        (change)="checkCode($event)" required>
                      <div class="err-message" *ngIf="(code.dirty || code.touched) && code.invalid && code">
                        <span *ngIf="code.errors.required">
                          {{ 'COMMON.CODE_REQUIRED' | translate}}
                        </span>
                        <span *ngIf="code.errors.pattern">
                          {{ 'COMMON.ALPHA_DECIMAL_RULE' | translate}}
                        </span>
                      </div>
                      <span *ngIf="isCodeExists" class="err-message">
                        {{ 'COMMON.CODE_EXISTS' | translate}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>

            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <nb-card class="nb-card inline-form-card">
            <nb-card-header class="nb-card-header">{{ 'CONTENT.PAGE_CONTENT' | translate}} - {{('LANG.'+
              currentLanguage) |translate }}&nbsp;
              <nb-select *ngIf="languages.length" placeholder="{{ 'COMMON.LANGUAGE' | translate}}" outline
                shape="rectangle" name='selectedLanguage' [selected]="defaultLanguage">
                <nb-option (click)="selectLanguage(language.code)" *ngFor="let language of languages"
                  [value]="language.code">{{
                  ('LANG.'+language.code) |translate }}</nb-option>
              </nb-select>
            </nb-card-header>
            <nb-card-body class="nb-card-body">
              <div *ngIf="selectedLanguage.value !== ''" formArrayName='descriptions'>
                <div *ngFor="let descr of descriptions.controls; let j=index">
                  <div *ngIf="descr.value.language === selectedLanguage.value">
                    <div [formGroupName]="j" class="description-block">
                      <div class="form-group">
                        <div formControlName="description" [ngxSummernote]="config" (change)="changeFn($event)"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </form>
  </div>
</div>