<nb-card class="page-card inner_pages">
  <nb-card-body [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary" class="boxsList">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ 'COMPONENTS.CONTENT_BOXES' | translate}}</h1>
        <div class="content_spacing_empty"></div>

      </nb-card-header>

      <form class="form-inline filter_section">
        <div class="filter_left_section">
          <!-- <input #search class="search form-control ng-pristine ng-valid ng-touched" value="{{ searchValue }}" type="text"
            placeholder="{{ 'COMPONENTS.SEARCH' | translate }}" (keydown.enter)="onSearch(search.value)" style="width:45%">
          <img class="pointer" src="../../../../assets/img/magnifying-glass.png" title="{{ 'COMMON.SEARCH' | translate}}"
            (click)="onSearch(search.value)" class="sda">
          <img class="pointer" src="../../../../assets/img/reload.png" title="{{ 'COMMON.RESET' | translate}}" alt=""
            (click)="resetSearch()" class="sda"> -->

        </div>
        <div class="filter_right_section">
          <ngx-store-autocomplete (onStore)="onSelectStore($event)"></ngx-store-autocomplete>
          <!-- <p-dropdown *ngIf="stores.length> 0" [options]="stores" filter="true" (onChange)="onSelectStore($event)">
            <ng-template let-item pTemplate="selectedItem">{{item.label}}</ng-template>
            <ng-template let-car pTemplate="item">{{car.label}}</ng-template>
          </p-dropdown> -->
          <a class="createBtn" (click)="addBoxes()">
            <img class="pointer sda" src="../../../../assets/img/plus.png" title="{{ 'COMPONENTS.CREATE_OPTION' | translate}}"
              alt="">
            <label>{{'CONTENT.CREATE_BOX' | translate}}</label>
          </a>
        </div>
      </form>


      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onClickAction($event)" class="custom_scroll home-table">
      </ng2-smart-table>

      <ngx-paginator (changePage)="changePage($event)" [pagesToShow]="5" [currentPage]="currentPage" [perPage]="perPage"
        [count]="totalCount">
      </ngx-paginator>
    </div>
  </nb-card-body>
</nb-card>