@import "../../../../@theme/styles/themes";

@include nb-install-component() {
    nb-card {
        transform: translate3d(0, 0, 0);
    }
}

.catalogues_box {
    .filter_section {
        width: 100%;


        .filter_right_section {
            width: 100%;
            text-align: right;
            display: flex;
            justify-content: flex-end;
            padding-left: 0px;
            padding-right: 0px;

            .createBtn {
                padding: 8px 10px 9.5px 10px;
                background-color: #f7f9fc !important;
                color: #000 !important;
                border: 1px solid #edf1f7 !important;
                border-radius: 5px;
                margin-left: 20px;

                label {
                    display: inline-block;
                    font-weight: 600 !important;
                    font-size: 14px !important;
                }

                .sda {
                    margin-right: 20px;
                    cursor: pointer;
                    margin-left: 0 !important;
                }
            }

            .store_select {
                width: 29% !important
            }
        }
    }
}