.label-row {
  margin-bottom: 17px;

  label {
    font-size: 20px;
  }
}

.catalouge_create_page {


  .main_header {
    .page_title {
      margin-top: -25px;
      font-weight: 600;
    }

    .content_spacing {
      .success_button {
        background-color: #36f;
        border-color: #36f;
        color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.875rem;
        height:40px;
        &:disabled {
          background-color: #598bff96;

          &:hover {
            background-color: #598bff96;
            border-color: #598bff96;
          }
        }

        &:hover {
          background-color: #598bff;
          border-color: #598bff;
          box-shadow: 0px 7px 15px rgba(165, 162, 162, 0.25), 1px 3px 8px rgba(165, 162, 162, 0.25);
        }
      }

      .cancel_button {
        background-color: #ffaa00;
        border-color: #ffaa00;
        color: #ffffff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.875rem;

        &:hover {
          background-color: #ffc94d;
          border-color: #ffc94d;
          box-shadow: 0px 7px 15px rgba(165, 162, 162, 0.25), 1px 3px 8px rgba(165, 162, 162, 0.25);
        }
      }

    }
  }

}

:host ::ng-deep .catalouge_create_page {
  .nb-card-header {
    font-weight: 700;
  }

  .inputLabel {
    font-size: 0.75rem;
    color: #8f9bb3;
    font-weight: 700;
  }

  .inputText {
    border-radius: 0.17rem;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.6875rem 1rem;
    width: 100%;
    background-color: #f7f9fc;
    border-color: #e4e9f2;
    color: #222b45;
    transition-duration: 0.15s;
    transition-property: border, background-color, color, box-shadow;
    transition-timing-function: ease-in;
    border-style: solid;
    border-width: 1px;
    -webkit-appearance: none;

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #8e9ab4;
      font-weight: 200;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      font-weight: 200;
      color: #8e9ab4;
    }

    &:-ms-input-placeholder {
      /* IE 10+ */
      font-weight: 200;
      color: #8e9ab4;
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      font-weight: 200;
      color: #8e9ab4;
    }
  }

  .err-message {
    margin-top: -8px;
    color: #ff3d71;
    font-size: 12px;
  }
}