<nb-card>
  <nb-card-header>Set Credentials</nb-card-header>
  <nb-card-body>
    <div class="form-group">
      <label class="label">User Name</label>
      <input type="text" class="form-control" id="first_name" placeholder="User Name" name="userName">
    </div>
    <div class="form-group">
      <label class="label">Password</label>
      <input type="password" class="form-control" id="first_name" placeholder="Password" name="password">
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
    <button nbButton status="success" (click)="submit(name.value)" >Submit</button>
  </nb-card-footer>
</nb-card>