<nb-card class="page-card inner_pages">
  <nb-card-body [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary" class="categoryList">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ 'COMPONENTS.CATEGORIES' | translate}}</h1>
        <div class="content_spacing_empty"></div>
      </nb-card-header>

      
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="route($event)" class="home-table">
      </ng2-smart-table>

      <ngx-paginator (changePage)="changePage($event)" [pagesToShow]="5" [currentPage]="currentPage" [perPage]="perPage"
        [count]="totalCount">
      </ngx-paginator>
    </div>
  </nb-card-body>
</nb-card>