<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
      <form class="login100-form validate-form flex-sb flex-w" [formGroup]='form' (ngSubmit)='onSubmit()'>
        <span style="width:100%;" class="titleClass">

          <img src="assets/img/shopizer-logo.png" width="200" style="margin-top:-15px;">

        </span>
        <div style="width:100%;text-align: center">
          <h1 class="error-status">500</h1>
          <h2>Internal Server Error</h2>
          <p>
            This server has been deserted for a while.<br /> Please be patient or try again later.
          </p>
        </div>

      </form>
    </div>
  </div>
</div>