<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
      <form class="login100-form" style="text-align: center" [formGroup]='form' (ngSubmit)='onSubmit()'>
        <span class="titleClass">

          <img src="assets/img/shopizer-logo.png">

        </span>
        <div>
          <h1 class="error-status">500</h1>
          <h2 class="error-title">Internal Server Error</h2>
          <p class="error-message">
            This server has been deserted for a while. Please be patient or try again later.
          </p>
        </div>

      </form>
    </div>
  </div>
</div>