<div class="inner_pages inventory_create_page">


  <!-- <div [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary"> -->
  <div class="mainBody">
    <ng-multiselect-dropdown [placeholder]="'Select Category'" [settings]="dropdownSettings" [data]="dropdownList"
      [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)"
      (onFilterChange)="onFilterChange($event)">
    </ng-multiselect-dropdown>
    <!-- </div> -->
    <!-- <nb-card class="nb-card inline-form-card">
      <nb-card-body class="nb-card-body">


      </nb-card-body>
    </nb-card> -->
  </div>
</div>