.label-row {
    margin-bottom: 17px;

    label {
        font-size: 20px;
    }
}

.inventory_create_page {


    .main_header {
        .page_title {
            margin-top: -25px;
            font-weight: 600;
        }

        .back_button {
            margin-top: 21px !important;
        }

    }



}

:host ::ng-deep .inventory_create_page {
    .nb-card-header {
        font-weight: 700;
    }


}