<ngx-back-button></ngx-back-button>
<nb-card size="small" class="page-card pick-list">
  <div class="selector-wrap">
    <div class="selector-element">
      <nb-select *ngIf="categories.length" placeholder="{{ 'COMPONENTS.CATEGORY' | translate}}"
                 outline
                 shape="rectangle">
        <nb-option *ngFor="let category of categories" [value]="category.code" (click)="selectGroup(category.id)">
          {{ category.code }}
        </nb-option>
      </nb-select>
    </div>
  </div>

  <p-pickList sourceHeader="Available"
              targetHeader="Selected"
              dragdrop="true"
              [responsive]="true"
              [source]="availableList"
              [target]="selectedList"
              sourceFilterPlaceholder="Search"
              targetFilterPlaceholder="Search"
              [showSourceControls]="false"
              [showTargetControls]="false"
              [disabled]="!selectedCategory"
              (onMoveToTarget)="moveEvent($event, 'toTarget')"
              (onMoveToSource)="moveEvent($event, 'toSource')"
              (onMoveAllToTarget)="moveEvent($event, 'allToTarget')"
              (onMoveAllToSource)="moveEvent($event, 'allToSource')"
              filterBy="code">
    <ng-template let-item pTemplate="item">
      <div class="ui-helper-clearfix item-picklist">
        <div>{{item.id}}</div>
        <div>{{item.description.name}}</div>
      </div>
    </ng-template>
  </p-pickList>
</nb-card>
