<ngx-back-button></ngx-back-button>
<nb-card size="small" class="page-card">
  <nb-card-header>
    {{ 'COMPONENTS.RETAILER_STORE_LIST' | translate }}
  </nb-card-header>
  <nb-card-body [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary">

<!--    <nb-actions size="medium" class="back-button">-->
<!--      <nb-action>-->
<!--        <i class="fas fa-plus"></i>&nbsp;-->
<!--        <a [routerLink]="['/pages/catalogue/products/' + '1' +'/inventory-list/inventory-creation']">-->
<!--          {{ 'COMPONENTS.ADD_STORE' | translate }}-->
<!--        </a>-->
<!--      </nb-action>-->
<!--    </nb-actions>-->

    <ng2-smart-table [settings]="settings" [source]="source">
    </ng2-smart-table>

    <ngx-paginator
      (changePage)="changePage($event)"
      [pagesToShow]="5"
      [currentPage]="currentPage"
      [perPage]="perPage"
      [count]="totalCount"
      (custom)="route($event)">
    </ngx-paginator>
  </nb-card-body>
</nb-card>
