<div class="inner_pages actionPage">
  <nb-card-header class="main_header">
    <h1 class="page_title">{{ 'COMMON.PASSWORD' | translate }} - {{ user?.userName }}</h1>
    <div class="content_spacing" *ngIf="selfEdit">
      <nb-select [(selected)]="selectedItem" outline shape="rectangle">
        <nb-option *ngFor="let item of sidemenuLinks" [value]="item.id" (click)="route(item.link)">{{ item.title |
          translate}}</nb-option>
      </nb-select>
    </div>
    <div class="content_spacing">
      <button type="button" nbButton class="cancel_button" (click)="goToProfile()">{{ 'COMMON.CANCEL'
        | translate}}</button>
    </div>
    <div class="content_spacing">
      <button type="button" [disabled]="!form.valid" nbButton class="success_button" (click)="save()"
        [nbSpinner]="loader" nbSpinnerSize="large" nbSpinnerStatus="control">
        {{ ( !loader ? 'COMMON.SAVE' : '' ) | translate }}
      </button>
    </div>
  </nb-card-header>
  <!-- <div [nbSpinner]="loader" nbSpinnerSize="large" nbSpinnerStatus="primary"> -->
  <nb-card class="nb-card inline-form-card">
    <nb-card-body>
      <form [formGroup]='form'>
        <label for="password" class="col-sm-9 col-form-label inputLabel">{{ 'USER_CHANGE_PASSWORD.CURRENT_PASSWORD' |
          translate }}</label>
        <div class="col-sm-12">
          <input type="password" class="form-control inputText" id="password" formControlName='password'
            placeholder="{{ 'COMMON.PASSWORD' | translate }}" required>
          <span *ngIf="errorMessage.length !== 0" class="err-message">
            {{errorMessage}}
          </span>
        </div>
        <div class="form-group">
          <label for="newPassword" class="col-sm-9 col-form-label inputLabel">{{ 'USER_CHANGE_PASSWORD.NEW_PASSWORD' |
            translate }}</label>
          <div class="col-sm-12">
            <input type="password" class="form-control inputText" id="newPassword" formControlName='newPassword'
              placeholder="{{ 'USER_CHANGE_PASSWORD.NEW_PASSWORD' | translate }}" required>
            <span *ngIf="(newPassword.dirty || newPassword.touched) && newPassword.invalid && newPassword"
              class="err-message">
              <span *ngIf="newPassword.errors.required">
                {{ 'USER_CHANGE_PASSWORD.PASSWORD_ERROR_REQUIRED' | translate }}
              </span>
              <span *ngIf="newPassword.errors.pattern">
                {{ 'USER_CHANGE_PASSWORD.PASSWORD_ERROR_NOT_VALID' | translate }} <br />
                {{ 'USER_CHANGE_PASSWORD.PASSWORD_ERROR_RULES' | translate }}
              </span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmNewPassword" class="col-sm-9 col-form-label inputLabel">{{
            'USER_CHANGE_PASSWORD.REPEAT_NEW_PASSWORD' | translate }}</label>
          <div class="col-sm-12">
            <input type="password" class="form-control inputText" id="confirmNewPassword"
              formControlName='confirmNewPassword'
              placeholder="{{ 'USER_CHANGE_PASSWORD.REPEAT_NEW_PASSWORD' | translate }}" required>
            <span *ngIf="(confirmNewPassword.dirty || confirmNewPassword.touched) && form.hasError('notSame')"
              class="err-message">
              {{ 'USER_CHANGE_PASSWORD.PASSWORDS_NOT_MATCH' | translate }}
            </span>
          </div>
        </div>

      </form>

    </nb-card-body>
  </nb-card>
  <!-- </div> -->

</div>