<div class="inner_pages create_customer">
  <form #customerForm="ngForm" role="form">
    <nb-card-header class="main_header">
      <h1 class="page_title">{{title}}</h1>
      <div class="content_spacing">
        <div *ngIf="buttonText == 'Update'">
          <nb-select placeholder="More Options...." outline shape="rectangle" (selectedChange)="showDialog($event)">
            <nb-option value="1">Reset Password</nb-option>
            <nb-option value="2">Set Credentials</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="content_spacing">
        <button type="button" nbButton status="warning">Cancle</button>
      </div>
      <div class="content_spacing">
        <button type="button" nbButton class="success_button" [disabled]="!customerForm.form.valid" (click)="onAddCustomer()">{{buttonText}}</button>
      </div>
    </nb-card-header>

    <div class="" [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary">

      <div class="custom_scroll" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <nb-card class="nb-card inline-form-card">
              <nb-card-header class="nb-card-header">Billing information</nb-card-header>
              <nb-card-body class="nb-card-body">

                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label">First Name <span>*</span></label>
                      <input type="text" class="form-control" id="first_name" placeholder="First Name" [(ngModel)]="billing.firstName"
                        name="firstName" required #firstName="ngModel">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label">Last Name <span>*</span></label>
                      <input type="text" class="form-control" id="last_name" placeholder="Last Name" [(ngModel)]="billing.lastName"
                        name="lastName" required #lastName="ngModel">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label">User Name</label>
                      <input type="text" class="form-control" id="user_name" placeholder="User Name" [(ngModel)]="info.userName"
                        name="userName" #userName="ngModel">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label">Billing Company</label>
                      <input type="text" class="form-control" id="billing_company" placeholder="Billing Company"
                        [(ngModel)]="billing.company" name="company">
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label">Billing Street Address <span>*</span></label>
                      <input type="text" class="form-control" id="billing_address" placeholder="Billing Street Address"
                        [(ngModel)]="billing.address" name="address" required #address="ngModel">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label">Billing City <span>*</span></label>
                      <input type="text" class="form-control" id="billing_city" placeholder="Billing City" [(ngModel)]="billing.city"
                        name="city" required #city="ngModel">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label">Billing Postal Code <span>*</span></label>
                      <input type="text" class="form-control" id="billing_postal" placeholder="Billing Postal Code"
                        [(ngModel)]="billing.postalCode" name="postalCode" required #postalCode="ngModel">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label">Email Address <span>*</span></label>
                      <input type="text" class="form-control" id="billing_email" placeholder="Email Address"
                        [(ngModel)]="info.emailAddress" name="emailAddress" required #email="ngModel">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label">Phone Number <span>*</span></label>
                      <input type="text" class="form-control" id="billing_phone" placeholder="Phone Number" [(ngModel)]="billing.phone"
                        name="phone" required #phone="ngModel" minlength=10 maxlength=13>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label">Default language</label>
                      <nb-select placeholder="Language" outline shape="rectangle" [(ngModel)]="info.language" name="language"
                        [selected]="'en'">
                        <nb-option *ngFor="let lan of languages" [value]="lan.code">{{ lan.name }}</nb-option>
                      </nb-select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label">Billing Country <span>*</span></label>
                      <nb-select *ngIf="billingCountry.length > 0" placeholder="Select Country" outline shape="rectangle"
                        [(ngModel)]="billing.country" name="country" (selectedChange)="onBillingChange($event)"
                        required>
                        <nb-option *ngFor="let country of billingCountry" [value]="country.code">{{ country.name }}
                        </nb-option>
                      </nb-select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group" *ngIf="billingStateData.length > 0">
                      <label class="label">Billing State / Province <span>*</span></label>
                      <nb-select placeholder="Select State" outline shape="rectangle" [(ngModel)]="billing.zone" name="zone"
                        required>
                        <nb-option *ngFor="let state of billingStateData" [value]="state.code">{{ state.name }}
                        </nb-option>
                      </nb-select>
                    </div>
                  </div>
                </div>

              </nb-card-body>
            </nb-card>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <nb-card class="nb-card inline-form-card">
              <nb-card-header class="nb-card-header">Shipping information</nb-card-header>
              <nb-card-body class="nb-card-body">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label for="exampleInputPassword1" class="label">First Name</label>
                      <input type="text" class="form-control" id="first_name" placeholder="First Name" [(ngModel)]="shipping.firstName"
                        name="shipping.firstName" #firstName="ngModel">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label for="exampleInputPassword1" class="label">Last Name</label>
                      <input type="text" class="form-control" id="last_name" placeholder="Last Name" [(ngModel)]="shipping.lastName"
                        name="shipping.lastName" #lastName="ngModel">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label for="exampleInputPassword1" class="label">Shipping Company</label>
                      <input type="text" class="form-control" id="shipping_company" placeholder="Shipping Company"
                        [(ngModel)]="shipping.company" name="shipping.company">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label for="exampleInputPassword1" class="label">Shipping Street Address</label>
                      <input type="text" class="form-control" id="shipping_address" placeholder="Shipping Street Address"
                        [(ngModel)]="shipping.address" name="shipping.address" #address="ngModel">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label for="exampleInputPassword1" class="label">Shipping City</label>
                      <input type="text" class="form-control" id="shipping_city" placeholder="Shipping City"
                        [(ngModel)]="shipping.city" name="shipping.city" #city="ngModel">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label">Shipping Postal Code</label>
                      <input type="text" class="form-control" id="shipping_postal" placeholder="Shipping Postal Code"
                        [(ngModel)]="shipping.postalCode" name="shipping.postalCode">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label">Shipping Country</label>
                      <nb-select *ngIf="shippingCountry.length > 0" placeholder="Select Country" outline shape="rectangle"
                        (selectedChange)="onShippingChange($event)" [(ngModel)]="shipping.country" name="shipping.country">
                        <nb-option *ngFor="let country of shippingCountry" [value]="country.code">{{
                          country.name }}</nb-option>
                      </nb-select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group" *ngIf="shippingStateData.length > 0">
                      <label class="label">Shipping State / Province</label>
                      <nb-select placeholder="Select State" outline shape="rectangle" [(ngModel)]="shipping.zone" name="shipping.zone">
                        <nb-option *ngFor="let state of shippingStateData" [value]="state.code">{{ state.name }}
                        </nb-option>
                      </nb-select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="col-form-label">{{ 'user.groups' | translate }}</label>
                      <div class="form-group">
                        <nb-checkbox *ngFor="let group of groups" status="success" (change)="addRole(group)">
                          {{ group.name }}
                        </nb-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>