<div class="pages">
  <h1 class="page_title">Customers List</h1>
  <nb-card-header class="header_full">
    <div class="table_search">
      <input type="text" name="search_text" [(ngModel)]="search_text" class="form-control" placeholder="Search" (keyup)="search()">
    </div>
    <div class="buttons-row">
      <button nbButton (click)="addCustomer()">
        Create Customer
      </button>
    </div>
  </nb-card-header>
  <nb-card-body [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <ng2-smart-table [settings]="settings" [source]="source" (custom)="onClickAction($event)" class="custom_scroll home-table">
    </ng2-smart-table>
  </nb-card-body>
</div>