<div class="inner_pages attribute_create_page">
  <!-- <div [nbSpinner]="loader" nbSpinnerSize="large" nbSpinnerStatus="primary"> -->
  <nb-card-header class="main_header">
    <h1 class="page_title">{{ 'PRODUCT_ATTRIBUTES.OPTIONS_ATTRIBUTES' | translate}}</h1>

    <div class="content_spacing">
      <button type="button" nbButton class="cancel_button" (click)="goToback()">{{ 'ORDER_FORM.CANCLE'
        | translate}}</button>
      <!--
      <button type="submit" nbButton class="success_button" (click)="save()" [nbSpinner]="loader" nbSpinnerSize="large"
        nbSpinnerStatus="control" [disabled]="!form.valid">{{ ( !loader ? 'COMMON.SAVE' : '' ) | translate }}</button>-->
      <button type="button" nbButton class="success_button" [nbSpinner]="loading" nbSpinnerSize="large"
        nbSpinnerStatus="control" (click)="save()">
        {{(!loading?'COMMON.SAVE':'') | translate }} {{ (!loading?'COMMON.SAVE':'') | translate}}
      </button>
    </div>
  </nb-card-header>
  <div [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary"></div>
  <form [formGroup]='form'>
    <nb-card class="nb-card inline-form-card">
      <nb-card-body class="nb-card-body">
        <div class="form-group">
          <label class="col-sm-10 col-form-label inputLabel">{{ 'PRODUCT_ATTRIBUTES.ATTRIBUTE_NAME' | translate}}
            *</label>
          <div class="col-sm-12">


            <p-dropdown *ngIf="options.length" [options]="options" placeholder="Please select options"
              formControlName='option' filter="true">
              <ng-template let-item pTemplate="selectedItem">{{item.label}}</ng-template>
              <ng-template let-el   pTemplate="item">{{el.label}}</ng-template>
            </p-dropdown>

            <span *ngIf="(option.dirty || option.touched) && option.invalid && option && option.errors.required"
              class="err-message">
              {{ 'COMMON.VALUE_REQUIRED' | translate}}
            </span>
          </div>
        </div>

        <!--
          <div class="form-group">
            <div class="col-sm-12 group-block">
              <nb-checkbox formControlName='attributeDisplayOnly'>
                {{ 'PRODUCT_ATTRIBUTES.DISPLAY_ONLY_TEXT' | translate}}
              </nb-checkbox>
            </div>
          </div>
          -->

        <div class="form-group">
          <label class="col-sm-10 col-form-label inputLabel">{{ 'PRODUCT_ATTRIBUTES.PRODUCT_OPTION' | translate}}
            *</label>
          <div class="col-sm-12">

                <p-dropdown *ngIf="optionValues.length" [options]="optionValues" placeholder="Please select options value"
                  formControlName='optionValue' filter="true">
                  <ng-template let-item pTemplate="selectedItem">{{item.label}}</ng-template>
                  <ng-template let-el pTemplate="item">{{el.label}}</ng-template>
                </p-dropdown>
                <span *ngIf="(optionValue.dirty || optionValue.touched) && optionValue.invalid
                  && optionValue && optionValue.errors.required" class="err-message">
                  {{ 'COMMON.VALUE_REQUIRED' | translate}}
                </span>
              </div>
                

          <!--  
          <p-autoComplete class="autoStore" placeholder="{{ 'OPTION_VALUE.SELECT_OPTION_VALUE' | translate }}" name="optionValue" formControlName="optionValue" [suggestions]="optionValues"
            [dropdown]="true" (onSelect)="onSelectOptionValue($event)" (completeMethod)="searchOptionValue($event)">
            <ng-template let-item pTemplate="selectedItem">{{item.label}}</ng-template>
            <ng-template let-el pTemplate="item">{{el.label}}</ng-template>
            
          </p-autoComplete>
          -->

          <!--
          <p-autoComplete name="searchSuggestions" formControlName="optionValue" (completeMethod)="searchOptionValue($event)" [suggestions]="optionValues" field="field"></p-autoComplete>
          -->
            
          <!--
            <p-dropdown *ngIf="optionValues.length" [options]="optionValues" placeholder="OPTION_VALUE.SELECT_OPTION_VALUE"
              formControlName='optionValue' filter="true">
              <ng-template let-item pTemplate="selectedItem">{{item.label}}</ng-template>
              <ng-template let-el pTemplate="item">{{el.label}}</ng-template>
            </p-dropdown>
           
            <span *ngIf="(optionValue.dirty || optionValue.touched) && optionValue.errors.required" class="err-message">
              {{ 'COMMON.VALUE_REQUIRED' | translate}}
            </span>
            <span *ngIf="(optionValue.dirty || optionValue.touched) && optionValue && optionValue.errors.invalid" class="err-message">
              {{ 'COMMON.INVALID_VALUE' | translate}}
            </span>
          -->

          
        </div>


        <div class="form-group">
          <label for="productAttributeUnformattedPrice" class="col-sm-10 col-form-label inputLabel">
            {{ 'PRODUCT_ATTRIBUTES.OPTION_PRICE' | translate}}<span *ngIf="currency">({{currency}})</span>
          </label>
          <div class="col-sm-12">
            <input type="text" class="form-control inputText" id="productAttributeUnformattedPrice"
              formControlName='productAttributeUnformattedPrice' ngxValidateNumber
              placeholder="{{ 'PRODUCT_ATTRIBUTES.OPTION_PRICE' | translate}}" (blur)="transformTotal()">
            <span *ngIf="(productAttributeUnformattedPrice.dirty || productAttributeUnformattedPrice.touched) && productAttributeUnformattedPrice.invalid
              && productAttributeUnformattedPrice && productAttributeUnformattedPrice.errors.required"
              class="err-message">
              {{ 'COMMON.VALUE_REQUIRED' | translate}}
            </span>
          </div>
        </div>


        <div class="form-group">
          <label for="order" class="col-sm-10 col-form-label inputLabel">{{ 'COMMON.ORDER' | translate}} *</label>
          <div class="col-sm-12">
            <input type="number" class="form-control inputText" id="order" formControlName='sortOrder' ngxValidateNumber
              placeholder="{{ 'COMMON.ORDER' | translate}}">
          </div>
        </div>


        <div class="form-group">
          <div class="col-sm-12 group-block">
            <nb-checkbox formControlName='attributeDefault'>
              {{ 'PRODUCT_ATTRIBUTES.DEFAULT_OPTION' | translate}}
            </nb-checkbox>
          </div>
        </div>


        <div class="form-group">
          <div class="col-sm-12 group-block">
            <nb-checkbox formControlName='requiredOption'>
              {{ 'PRODUCT_ATTRIBUTES.REQUIRED_OPTION' | translate}}
            </nb-checkbox>
          </div>
        </div>

        <div class="form-group">
          <label for="productAttributeWeight" class="col-sm-10 col-form-label inputLabel">{{
            'PRODUCT_ATTRIBUTES.ADDITIONAL_WEIGHT'
            | translate}} *</label>
          <div class="col-sm-12">
            <input type="number" class="form-control inputText" id="productAttributeWeight"
              formControlName='productAttributeWeight' ngxValidateNumber
              placeholder="{{ 'PRODUCT_ATTRIBUTES.ADDITIONAL_WEIGHT' | translate}}" required>
          </div>
        </div>


      </nb-card-body>
    </nb-card>
  </form>
  <div [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary"></div>
  <!-- </div> -->