<ngx-back-button></ngx-back-button>
<nb-card size="small" class="page-card">
  <nb-card-header>
    {{ 'PRODUCT_ATTRIBUTES.OPTIONS_ATTRIBUTES' | translate}}
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="loader" [nbSpinner]="loader" nbSpinnerSize="large" nbSpinnerStatus="primary"></div>
    <form [formGroup]='form'>
      <div class="form-group">
        <label class="col-sm-10 col-form-label">{{ 'PRODUCT_ATTRIBUTES.ATTRIBUTE_NAME' | translate}} *</label>
        <div class="col-sm-12">
          <p-dropdown *ngIf="options.length" [options]="options" formControlName='option' filter="true">
            <ng-template let-item pTemplate="selectedItem">{{item.label}}</ng-template>
            <ng-template let-el pTemplate="item">{{el.label}}</ng-template>
          </p-dropdown>
          <span *ngIf="(option.dirty || option.touched) && option.invalid && option && option.errors.required"
                class="err-message">
              {{ 'COMMON.VALUE_REQUIRED' | translate}}
          </span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12 group-block">
          <nb-checkbox status="success" formControlName='attributeDisplayOnly'>
            {{ 'PRODUCT_ATTRIBUTES.DISPLAY_ONLY_TEXT' | translate}}
          </nb-checkbox>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-10 col-form-label">{{ 'PRODUCT_ATTRIBUTES.PRODUCT_OPTION' | translate}} *</label>
        <div class="col-sm-12">
          <p-dropdown *ngIf="optionValues.length" [options]="optionValues" formControlName='optionValue' filter="true">
            <ng-template let-item pTemplate="selectedItem">{{item.label}}</ng-template>
            <ng-template let-el pTemplate="item">{{el.label}}</ng-template>
          </p-dropdown>
          <span *ngIf="(optionValue.dirty || optionValue.touched) && optionValue.invalid
          && optionValue && optionValue.errors.required" class="err-message">
              {{ 'COMMON.VALUE_REQUIRED' | translate}}
          </span>
        </div>
      </div>


      <div class="form-group">
        <label for="productAttributePrice" class="col-sm-10 col-form-label">
          {{ 'PRODUCT_ATTRIBUTES.OPTION_PRICE' | translate}} *<span *ngIf="currency">({{currency}})</span>
        </label>
        <div class="col-sm-12">
          <input type="text" class="form-control" id="productAttributePrice" formControlName='productAttributePrice'
                 ngxValidateNumber placeholder="{{ 'PRODUCT_ATTRIBUTES.OPTION_PRICE' | translate}}"
                 (blur)="transformTotal()" required>
          <span *ngIf="(productAttributePrice.dirty || productAttributePrice.touched) && productAttributePrice.invalid
          && productAttributePrice && productAttributePrice.errors.required"
                class="err-message">
              {{ 'COMMON.VALUE_REQUIRED' | translate}}
          </span>
        </div>
      </div>


      <div class="form-group">
        <label for="order" class="col-sm-10 col-form-label">{{ 'COMMON.ORDER' | translate}} *</label>
        <div class="col-sm-12">
          <input type="number" class="form-control" id="order" formControlName='sortOrder'
                 ngxValidateNumber placeholder="{{ 'COMMON.ORDER' | translate}}">
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-12 group-block">
          <nb-checkbox status="success" formControlName='attributeDefault'>
            {{ 'PRODUCT_ATTRIBUTES.DEFAULT_OPTION' | translate}}
          </nb-checkbox>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-12 group-block">
          <nb-checkbox status="success" formControlName='requiredOption'>
            {{ 'PRODUCT_ATTRIBUTES.REQUIRED_OPTION' | translate}}
          </nb-checkbox>
        </div>
      </div>

      <div class="form-group">
        <label for="productAttributeWeight"
               class="col-sm-10 col-form-label">{{ 'PRODUCT_ATTRIBUTES.ADDITIONAL_WEIGHT' | translate}} *</label>
        <div class="col-sm-12">
          <input type="number" class="form-control" id="productAttributeWeight" formControlName='productAttributeWeight'
                 ngxValidateNumber placeholder="{{ 'PRODUCT_ATTRIBUTES.ADDITIONAL_WEIGHT' | translate}}" required>
        </div>
      </div>

      <hr/>

      <div class="form-group actions-button">
        <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="!form.valid">
          {{ 'COMMON.SAVE' | translate }}
        </button>
      </div>

    </form>
  </nb-card-body>
</nb-card>
