<!-- <nb-card size="small" class="page-card">

  <nb-card-body class="newStore">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ 'STORE.STORE_INFORMATION' | translate}}</h1>
        <div class="content_spacing" style="height:60px;">
        </div>
        <button type="submit" class="btn success_button">Save</button>
      </nb-card-header>
    </div> -->
<div>
  <ngx-store-form [store]="store" title="STORE.STORE_INFORMATION"></ngx-store-form>
</div>
<!-- </nb-card-body> -->
<!-- </nb-card> -->