.page-card {
    background: transparent;
    border: none;
    .newStore {
        .main_header {
            padding: 0px 30px 10px 0px;
            .page_title {
                margin-top: -25px;
                font-weight: 600;
            }
            .success_button {
                background-color: #36f;
                border-color: #36f;
                color: #fff;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                padding: 8px 20px 8px 20px !important;
                margin-top: 12px;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 0.875rem;
                &:hover {
                    background-color: #598bff;
                    border-color: #598bff;
                    box-shadow: 0px 7px 15px rgba(165, 162, 162, 0.25), 1px 3px 8px rgba(165, 162, 162, 0.25);
                }
            }
        }
    }
}
