<nb-card class="page-card inner_pages">
  <!-- <div *ngIf="loading" class="loading-block" [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary">
  </div> -->
  <nb-card-body [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary" class="groupList">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ 'COMPONENTS.PRODUCTS_GROUPS_LIST' | translate }}</h1>
        <div class="content_spacing_empty"></div>

      </nb-card-header>

      <form class="form-inline filter_section">
        <div class="filter_left_section">
          <!-- <input #search class="search form-control ng-pristine ng-valid ng-touched" value="{{ searchValue }}" type="text"
            placeholder="{{ 'COMPONENTS.SEARCH' | translate }}" (keydown.enter)="onSearch(search.value)" style="width:45%">
          <img class="pointer sda" src="../../../../assets/img/magnifying-glass.png" title="{{ 'COMMON.SEARCH' | translate}}"
            (click)="onSearch(search.value)">
          <img class="pointer sda" src="../../../../assets/img/reload.png" title="{{ 'COMMON.RESET' | translate}}" alt=""
            (click)="resetSearch()"> -->

        </div>
        <div class="filter_right_section">
          <ngx-store-autocomplete (onStore)="onSelectStore($event)"></ngx-store-autocomplete>

          <a class="createBtn" [routerLink]="['/pages/catalogue/products-groups/create-products-group']">
            <img class="pointer sda" src="../../../../assets/img/plus.png" title="{{ 'COMPONENTS.CREATE_PRODUCTS_GROUPS' | translate}}"
              alt="">
            <label>{{ 'COMPONENTS.CREATE_PRODUCTS_GROUPS' | translate}}</label>
          </a>
        </div>

      </form>



      <ng2-smart-table [settings]="settings" [source]="source" (custom)="deleteRecord($event)" class="home-table">
      </ng2-smart-table>

      <!-- <ngx-paginator (changePage)="changePage($event)" [pagesToShow]="5" [currentPage]="currentPage" [perPage]="perPage"
        [count]="totalCount">
      </ngx-paginator> -->
      <!-- <ngx-paginator [pagesToShow]="5" [currentPage]="currentPage" [perPage]="perPage" [count]="totalCount">
      </ngx-paginator> -->
    </div>
  </nb-card-body>
</nb-card>