<div class="pagination" *ngIf="count > 0">
  <div class="description">
    <span class="page-counts">{{ getMin() }} - {{ getMax() }} {{ 'COMMON.PAGINATOR_OF' | translate }} {{ count }}</span>
<!--    <span class="page-totals">{{ totalPages() }} pages</span>-->
  </div>
  <div class="numbers">
    <button class="link" (click)="onFirst()" [disabled]="currentPage === 1" [ngClass]="{ 'disabled': currentPage === 1 }">
      &lt;&lt;
    </button>
    <button class="link" (click)="onPrev()" [disabled]="currentPage === 1" [ngClass]="{ 'disabled': currentPage === 1 }">
      &lt;
    </button>

    <button
      *ngFor="let pageNum of getPages()"
      (click)="onPage(pageNum)"
      [ngClass]="{'active': pageNum === currentPage}">{{ pageNum }}</button>

    <button class="link" (click)="onNext()" [disabled]="lastPage()" [ngClass]="{ 'disabled': lastPage() }">
      &gt;
    </button>
    <button class="link" (click)="onLast()" [disabled]="lastPage()" [ngClass]="{ 'disabled': lastPage() }">
      &gt;>
    </button>
  </div>
</div>
