<nb-card class="payment-card inner_pages">
  <nb-card-body [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary" class="orderList">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ 'PAYMENT.PAYMENT_METHODS' | translate}}</h1>
        <div class="content_spacing_empty"></div>

      </nb-card-header>

      <form class="form-inline filter_section">
        <div class="filter_left_section">
        </div>
        <div class="filter_right_section">

        </div>
      </form>

      <div class="grid-body row" data-layout="fitRows">
        <div class="col-lg-3 col-md-3 col-sm-3 " *ngFor="let result of paymentData; let i = index">
          <div class="grid-product">
            <div class="image bg-lightblue">
              <span class="logo-wrapper">
              <a>
                <img *ngIf="result.image" src="../../../../assets/img/{{result.image}}" alt="{{ result.code | translate}} " >
                <img *ngIf="result.image == null && result.binaryImage == null" src="../../../../assets/img/noimg.png" alt="{{ result.code | translate}} " >
                <img *ngIf="result.binaryImage" [src]="transformImage(result.binaryImage)" alt="{{ result.code | translate}} " >
              </a>
             </span>
            </div>
            <a class="name">{{ result.code | translate}}</a>
            <div class="name-subtext">({{result.code}})</div>

            <div class="configure-button">
              <a [ngClass]="result.active && result.configured ? 'createBtn success' : !result.active && !result.configured ? 'createBtn': 'createBtn warning'"
                (click)="onClickConfigure(result.code)">
                <label>Configure</label>
              </a>
              
            </div>
          </div>
        </div>
      </div>

    </div>
  </nb-card-body>
</nb-card>