<div class="inner_pages">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <nb-card class="nb-card inline-form-card">
        <nb-card-body class="nb-card-body">
          <h1>Shipping Origin</h1>
          <h6>Shipping origin will help calculate distance between the origin to the destination of the delivery. If the origin
            is not set, the system will use the merchant store addresss as the shipping origin.
          </h6>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <!--  -->
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <form #originForm="ngForm" [formGroup]="shipOriginForm" (ngSubmit)="onSubmit()">
        <nb-card class="nb-card inline-form-card">
          <!-- <nb-card-header class="main_header">
        
                <h1>Shipping Origin</h1>
                <br>
                <p>Shipping origin will help calculate distance between the origin to the destination of the delivery. If the origin
                  is not set, the system will use the merchant store addresss as the shipping origin.
                </p>
        
              </nb-card-header> -->
          <nb-card-body class="nb-card-body">
            <div class="form-group mode">
              <nb-checkbox [(ngModel)]="visible" name="visible" status="success">Active</nb-checkbox>
            </div>
            <div class="form-group mode">

              <label>Address</label>
              <input class="form-control form-control-sm" formControlName="address" id="addressId" type="text" name="address" placeholder="Address"
                [ngClass]="{ 'is-invalid': isSubmitted && f.address.errors }" />
              <div *ngIf="isSubmitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is required</div>
              </div>
            </div>
            <div class="form-group">
              <label>City</label>
              <input class="form-control form-control-sm" formControlName="cityName" id="cityId" type="text" name="cityName" placeholder="City"
                [ngClass]="{ 'is-invalid': isSubmitted && f.cityName.errors }" />
              <div *ngIf="isSubmitted && f.cityName.errors" class="invalid-feedback">
                <div *ngIf="f.cityName.errors.required">City is required</div>
              </div>
            </div>
            <div class="form-group">
              <label>Country</label>
              <select class="custom-select" (change)="changeCountry($event)" formControlName="countryName" [ngClass]="{ 'is-invalid': isSubmitted && f.countryName.errors }">
                <option value="">Choose your country</option>
                <option *ngFor="let country of countries" [value]="country.countryCode">{{country.label}}</option>
              </select>
              <!-- error block -->
              <div *ngIf="isSubmitted && f.countryName.errors" class="invalid-feedback">
                <div *ngIf="f.countryName.errors.required">Country is required</div>
              </div>
            </div>
            <div class="form-group">
              <label>State/Province</label>
              <select class="custom-select" (change)="changeState($event)" formControlName="stateName" [ngClass]="{ 'is-invalid': isSubmitted && f.stateName.errors }">
                <option value="">Choose your state</option>
                <option *ngFor="let state of states" [value]="state.stateCode">{{state.label}}</option>
              </select>
              <!-- error block -->
              <div *ngIf="isSubmitted && f.stateName.errors" class="invalid-feedback">
                <div *ngIf="f.stateName.errors.required">State is required</div>
              </div>
            </div>
            <div class="form-group">
              <label>Postal Code</label>
              <input class="form-control form-control-sm" formControlName="postalCode" id="postalCodeId" type="text" name="postalCode"
                placeholder="Postal Code" [ngClass]="{ 'is-invalid': isSubmitted && f.postalCode.errors }" />
              <div *ngIf="isSubmitted && f.postalCode.errors" class="invalid-feedback">
                <div *ngIf="f.postalCode.errors.required">Postal Code is required</div>
              </div>
            </div>
            <!-- Submit Button -->
            <div class="form-group">
              <button type="submit" id="submitId" class="btn btn-danger btn-lg btn-block">Submit</button>
            </div>

            <!-- <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group mode">
            <label for="inputWebsite" class="label">Tax on shipping</label>
            <nb-checkbox [(ngModel)]="visible" name="visible" status="success">Yes</nb-checkbox>
          </div>
          <div class="mode">
            <label for="inputWebsite" class="label">
              <b>Shipping Quotes</b>
            </label>
            <nb-radio status="success" class="shipping-radio">Display all shipping quotes</nb-radio>
            <nb-radio status="success" class="shipping-radio">Display least expensive shipping quotes</nb-radio>
            <nb-radio status="success" class="shipping-radio">Display highest expensive shipping quotes</nb-radio>
          </div>
          <br />
        </div>
      </div> -->

          </nb-card-body>
        </nb-card>
      </form>
    </div>
  </div>


</div>