<div class="inner_pages">
  <form #pagesForm="ngForm" role="form">
    <nb-card-header class="main_header">
      <h1 class="page_title">{{ 'SHIPPING.EXPEDITION' | translate}}</h1>
      <div class="content_spacing">
        <button type="button" nbButton status="success" (click)="saveShipToCountries()">Save</button>
      </div>
    </nb-card-header>
    <div class="custom_scroll" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group mode">
            <input type="radio" id="domest" name="Domestic" [(ngModel)]="expedition" [value]="false">
            <label class="custom-control-label" for="domest">Domestic</label>
            <input type="radio" id="inter" name="International" [(ngModel)]="expedition" [value]="true">
            <label class="custom-control-label" for="inter">International</label>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="(leftAreaItems.length > 0 && expedition)">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <app-transferlistbox [code]="code" [label]="label" [leftAreaList]="leftAreaItems" [rightAreaList]="rightAreaItems" [leftAreaLabel]="leftAreaLabel"
            [rightAreaLabel]="rightAreaLabel" [leftAreaId]="leftAreaId" [rightAreaId]="rightAreaId"></app-transferlistbox>
        </div>
      </div>
    </div>
  </form>
</div>