

<div *ngIf="loading" class="loading-block" [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary"></div>
<ngx-category-form *ngIf="category.id" [category]="category"></ngx-category-form>  
<!--
<nb-card size="small" class="page-card">
    <nb-card-body [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <div class="inner_pages_legacy">
        <nb-card-header class="main_header">
          <h1 class="page_title">{{ 'COMPONENTS.CATEGORY' | translate}}</h1>
          <div class="content_spacing_empty"></div>
        
        </nb-card-header>
        <nb-card-body class="loading-block" [nbSpinner]="loadingInfo" nbSpinnerSize="large" nbSpinnerStatus="primary">
          <ngx-category-form *ngIf="category.id" [category]="category"></ngx-category-form>
       </nb-card-body>
    </div>
    </nb-card-body>
</nb-card>
-->

