<!-- <div class="inner_pages userDetails"> -->
<div>
  <!-- <nb-card-header class="main_header">
    <h1 class="page_title">{{ 'COMPONENTS.USER_DETAILS' | translate }}</h1>
    <div class="content_spacing">
      <button type="button" nbButton class="cancel_button" (click)="goToback()">{{ 'ORDER_FORM.CANCLE'
        | translate}}</button>
    </div>
    <div class="content_spacing">
      <button type="button" nbButton class="success_button">{{'COMMON.SAVE' | translate }}</button>
    </div>
  </nb-card-header> -->
  <ngx-user-form *ngIf="user.id" [user]="user" title="COMPONENTS.USER_DETAILS"></ngx-user-form>
</div>