<div class="inner_pages store_landing_page">
  <form *ngIf="!loading" [formGroup]='form'>
    <nb-card-header class="main_header">
      <h1 class="page_title">{{ 'STORE.STORE_INFORMATION' | translate}}</h1>

      <div class="content_spacing">
        <nb-select [(selected)]="selectedItem" outline shape="rectangle">
          <nb-option *ngFor="let item of sidemenuLinks" [value]="item.id" (click)="route(item.link)">{{ item.title }}
          </nb-option>
        </nb-select>
      </div>
      <div class="content_spacing">
        <nb-select placeholder="Language" outline shape="rectangle" formControlName='selectedLanguage'>
          <nb-option *ngFor="let lan of languages" [value]="lan.code">{{
            ('LANG.'+lan.code) | translate }}</nb-option>
        </nb-select>
      </div>
      <div class="content_spacing">
        <button type="submit" [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="control" (click)="save()"
          nbButton class="success_button">{{ ( !loading ? 'COMMON.SAVE' : '' ) | translate
          }}</button>
      </div>
    </nb-card-header>

    <!-- <div [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary"> -->



    <nb-card class="nb-card inline-form-card">
      <nb-card-body>
        <input type="hidden" class="form-control inputText" id="code" formControlName='code'>
        <!-- <div class="form-group">
            <label class="col-sm-10 label inputLabel">{{ 'COMMON.LANGUAGE' | translate}}</label>
            <div class="col-sm-12">
              <nb-select *ngIf="languages.length" placeholder="{{ 'COMMON.SELECT_LANGUAGE' | translate}}"
                formControlName='selectedLanguage' outline shape="rectangle">
                <nb-option *ngFor="let language of languages" [value]="language.code">
                  {{ ('LANG.'+language.code) | translate }}</nb-option>
              </nb-select>
            </div>
          </div> -->

        <!-- <hr /> -->

        <div *ngIf="selectedLanguage.value !== ''" formArrayName='descriptions'>
          <div *ngFor="let descr of descriptions.controls; let j=index">
            <div *ngIf="descr.value.language === selectedLanguage.value">

              <div [formGroupName]="j" class="description-block">

                <div class="form-group">
                  <label for="title" class="col-sm-10 label inputLabel">
                    {{ 'STORE_LANDING.LANDING_PAGE_TITLE' | translate}} *
                  </label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control inputText" id="title" formControlName='name'
                      placeholder="Page title" required>
                    <span *ngIf="(descr.get('name').dirty || descr.get('name').touched) && descr.get('name').invalid
                  && descr.get('name').errors.required" class="err-message">
                      {{ 'STORE_LANDING.LANDING_PAGE_TITLE' | translate}}
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-10 label inputLabel">{{ 'STORE_LANDING.TAG_DESCRIPTION' | translate}}</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control inputText" id="metaDetails" formControlName='metaDescription'
                      placeholder="{{ 'STORE_LANDING.TAG_DESCRIPTION' | translate}}">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-10 label inputLabel">{{ 'STORE_LANDING.LANDING_TEXT' | translate}}</label>
                  <div class="col-sm-12 summernote">
                    <div formControlName="description" [ngxSummernote]="config">
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>

        <hr />

        <!-- <div class="form-group actions-button">
            <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="!form.valid" nbButton>{{
              'COMMON.SAVE' | translate}}
            </button>
          </div> -->

      </nb-card-body>
    </nb-card>

    <!-- </div> -->
  </form>
</div>