<!-- <nb-card size="small" class="page-card">
 
  <nb-card-body class="newBrand">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ 'COMPONENTS.CREATE_BRAND' | translate}}</h1>
        <div class="content_spacing" style="height:60px;">
        </div>
        <button type="submit" class="btn success_button">Save</button>
      </nb-card-header>
    </div> -->
<div>
  <ngx-brand-form [brand]="brand" title="COMPONENTS.CREATE_BRAND"></ngx-brand-form>
</div>
<!-- </nb-card-body>
</nb-card> -->