//@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

// themes - our custom or/and out of the box themes
@import "themes";

// framework component themes (styles tied to theme variables)
@import "~@nebular/theme/styles/globals";
@import "~@nebular/auth/styles/all";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

// loading progress bar theme
@import "./pace.theme";

@import "./layout";
@import "./overrides";
@import "custom";

.nb-theme-corporate nb-checkbox .text:not(:empty) {
  padding-left: 6px;
  padding-right: 21px;
}

// install the framework and custom global styles
@include nb-install() {
  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
}

.nb-theme-corporate nb-layout .layout {
  background-color: #e3e9ee !important;
}

.image-content {
  $main-color: lightgrey !default;
  $contrast-color: #fff !default;
  $text-color: #000 !default;
  $border-radius: 5px !default;
  $hasAnimations: true !default;

  @if $hasAnimations {
    $transition-duration: 500ms;
  } @else {
    $transition-duration: 0ms;
  }

  @import "~ngx-smart-modal/ngx-smart-modal";

  ////////////
  // mixins //
  ////////////
  @mixin text-color {
    color: $text-color;
  }

  @mixin shadows {
    box-shadow: 0 2px 3px #eee;
  }

  @mixin effects($property: false, $time: false) {
    @if $hasAnimations {
      transition: $property $time ease;
    }
  }

  @mixin contrast {
    color: $contrast-color;
    background-color: $main-color;
  }

  .content {
    height: auto !important;
    min-width: 850px;
  }

  .holder {
    display: flex;
    height: 58vh !important;
  }

  .side-view-buttons {
    width: 96% !important;
  }

  @mixin borders {
    background-color: #fff;

    border: 1px solid $main-color;
    border-radius: $border-radius;
    padding: 10px;
    margin: 5px;
  }

  @mixin buttons {
    cursor: pointer;
    outline: none;
  }

  @mixin disabled {
    background-color: #fff;
    border-color: #ccc;
    color: #ccc;
  }

  ////////////
  // global //
  ////////////

  i {
    color: $main-color;
  }

  .button {
    @include borders;
    @include buttons;
    @include effects(background-color, 0.3s);

    &:hover {
      @include effects(background-color, 0.3s);
      @include contrast;
    }

    &.big {
      font-size: large;
    }

    &[disabled] {
      cursor: not-allowed;
      @include disabled;

      &:hover {
        cursor: not-allowed;
      }
    }

    &.close {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      border: none;
    }
  }

  .link {
    text-decoration: none;
    color: $main-color;
    cursor: pointer;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(50, 50, 50, 0.8);
  }

  /////////////////////////////
  // FM MAIN COMPONENT STYLE //
  /////////////////////////////
  .file-manager-navbar {
    margin: 0 0 15px 0;
    padding: 10px;
    border-bottom: 1px solid $main-color;

    display: flex;
    justify-content: space-between;
  }

  .navigation-component {
    display: none !important;
  }

  /**
  .file-manager-left {
    width: 30%;
    max-width: 350px;
    min-width: 150px;

    position: relative;
    overflow: auto;

    @include borders;
    @include shadows
  }
  **/

  .file-manager-left {
    display: none !important;
  }

  .new .file-manager-item {
    &:hover {
      background: transparent !important;
    }
  }

  .file-preview .fa-plus {
    color: #36f !important;

    &:hover {
      color: #598bff !important;
    }
  }

  .upload-background {
    .buttons:nth-of-type(1) {
      display: none;
    }
  }

  .file-manager-node {
    user-select: none;

    i {
      padding: 0 5px;
    }

    &.highlighted {
      color: $main-color;
      font-weight: bold;

      &.light {
        font-weight: normal;
      }
    }
  }

  ///////////////////////
  // new-folder styles //
  ///////////////////////
  .new-folder-input {
    @include borders;
    border-color: #ccc;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
  }

  .new-folder-input:focus {
    border-color: $main-color;
    outline: none;
  }

  .new-folder-send {
    @include contrast;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
  }

  /* folder content template
-------------------------- */
  .file-manager-item {
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin: 15px;
    // @include borders;
    @include text-color;
    border-color: #ccc;

    @include effects(border-color, 0.3s);
    @include effects(background-color, 0.3s);

    .file-name {
      width: 100%;
      height: 25px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  .file-manager-item.highlighted {
    @include contrast;
    border-color: $main-color;

    i {
      color: $contrast-color;
    }

    @include effects(border-color, 0.3s);
    @include effects(background-color, 0.3s);
  }

  .file-manager-item:hover {
    @extend .file-manager-item, .highlighted;
    border: 1px solid white;

    transition: background-color 0s;

    .file-name {
      height: auto;
      width: 100%;
      z-index: 1; // todo try this without z-index
      @include borders;
      @include contrast;
      margin: 0;
      padding: 5px;
      position: absolute;
      left: 0;
      word-wrap: break-word;
      white-space: normal;
    }
  }

  .file-manager-backdrop {
    @extend .backdrop;

    .fmModalInside {
      top: 15px;
      left: 15px;
      width: calc(100vw - 60px);
      height: calc(100vh - 60px);
      @include borders;
      position: fixed;

      .content {
        height: calc(100% - 50px);
      }
    }

    &.loading {
      cursor: progress;
    }
  }

  .file-manager-error {
    position: relative;
    top: 60%;
    text-align: center;
    font-weight: bold;
    color: $main-color;
    width: 80%;
    margin: 0 auto;
  }

  #side-view {
    display: inline-block;
    overflow: hidden;
    @include effects(width, 1s);
    width: 0;

    &.selected {
      overflow: visible;
      width: 30vw;
      max-width: 300px;
      @include effects(width, 1s);
    }
  }

  ///////////////////
  // fine-uploader //
  ///////////////////
  /* Buttons
------------------------------------------ */
  .qq-upload-delete,
  .qq-upload-pause,
  .qq-upload-continue {
    display: inline;
    @include borders;
  }

  .qq-upload-delete {
    background-color: #e65c47;
    color: #fafafa;
    border-color: #dc523d;

    @include borders;
    @include text-color;
    @include effects(background-color, 0.3s);
  }

  .qq-upload-delete:hover {
    @include contrast;
    @include effects(background-color, 0.3s);
  }

  .qq-upload-cancel {
    background-color: #f5d7d7;
    border-color: #e6c8c8;

    @include borders;
    @include text-color;
    @include effects(background-color, 0.3s);
  }

  .qq-upload-cancel:hover {
    @include contrast;
    @include effects(background-color, 0.3s);
  }

  .qq-upload-retry {
    background-color: #ebf6e0;
    border-color: #d2ddc7;

    @include borders;
    @include text-color;
    @include effects(background-color, 0.3s);
  }

  .qq-upload-retry:hover {
    @include contrast;
    @include effects(background-color, 0.3s);
  }

  .qq-upload-pause,
  .qq-upload-continue {
    background-color: #00abc7;
    color: #fafafa;
    border-color: #2dadc2;

    @include borders;
    @include text-color;
    @include effects(background-color, 0.3s);
  }

  .qq-upload-pause:hover,
  .qq-upload-continue:hover {
    @include contrast;
    @include effects(background-color, 0.3s);
  }

  /* Upload Button
------------------------------------------ */
  .qq-upload-button {
    display: inline;
    width: 105px;
    margin-bottom: 10px;
    padding: 7px 10px;
    text-align: center;
    float: left;
    font-size: 14px;

    @include buttons;
    @include borders;
    @include effects(background-color, 0.3s);
    @include text-color;
  }

  .qq-upload-button-hover {
    @include contrast;
    @include effects(background-color, 0.3s);
  }

  /* Upload Elements
--------------------------------------------- */
  .qq-progress-bar {
    display: block;
    width: 0;
    height: 18px;
    border-radius: 6px;
    background: $main-color;
  }

  .qq-total-progress-bar-container {
    margin-left: 9px;
    display: inline;
    float: right;
    width: calc(100% - 190px);

    @include borders;
  }

  ////////////////
  // navigation //
  ////////////////
  .navigation-search {
    @include borders;
    border-color: #ccc;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    border-right: none;

    font-size: 13px;

    &:focus,
    &:focus + .navigation-search-icon {
      outline: none;
      border-color: $main-color;
    }
  }

  .navigation-search-icon {
    @extend .button;
    @include borders;
    border-color: #ccc;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
    border-left: none;

    font-size: 11px;

    &:hover {
      color: $contrast-color;
      background: #fff;
    }

    &:disabled i {
      color: #ccc;
    }
  }

  /////////////////
  // node-lister //
  /////////////////
  .node-lister-app-node:hover {
    transition: color 0.35s ease-in;
    color: $main-color;
  }

  .node-lister-app-node {
    @include text-color;
    cursor: pointer;
    transition: color 0.35s ease-out;
  }

  ///////////////
  // side-view //
  ///////////////
  .side-view {
    width: 280px;
    height: calc(100% - 15px);
    display: inline-block;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: auto;

    @include borders;
    padding: 0 5px;
  }

  .side-view-preview {
    text-align: center;
    position: relative;
    @include text-color;

    width: 280px;
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .side-view-preview-title {
    font-weight: bold;
    text-transform: uppercase;
    color: $main-color;
    white-space: pre-wrap;
    padding: 0 30px;
    margin: 15px auto;
  }

  .side-view-preview-content {
    position: relative;
    /**border-top: 1px solid $main-color;**/
    border-bottom: 1px solid $main-color;
    min-height: 100%;
    flex-grow: 1;
    margin-bottom: 10px;
    padding: 5px;
  }

  ////////////
  // upload //
  ////////////
  .upload-top-bar {
    display: none !important;
    // display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 2px solid $main-color;
  }

  .upload-background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    overflow: auto;
    box-sizing: border-box;

    @include borders;
    border-width: 2px;
    margin: 20px auto;

    width: calc(100vw - 60px);
    max-height: calc(100vh - 60px);
    max-width: 1000px;
  }

  /////////////////////
  // ngx-smart-modal //
  /////////////////////
  .nsm-content {
    @extend .nsm-content;
    // @include borders;
    border-radius: 0.25rem;
    padding: 10px;
    border-width: 2px;
    max-height: 90vh;
  }

  .nsm-dialog-btn-close {
    outline: none;
  }

  .nsm-body {
    @extend .nsm-body;
    overflow: auto;
  }

  .modal-title {
    margin-top: 15px;
    padding: 10px;
  }

  .nsm-dialog {
    @extend .nsm-dialog;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
  }

  /*
  Rename modal
---------------- */
  .rename-name {
    color: $main-color;
    font-weight: bold;
    margin-bottom: 2px;
  }

  .rename-input {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    margin: 3px 0;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    font-size: 15px;

    &:focus {
      border-bottom: 1px solid $main-color;
    }
  }

  /*
  Search modal
 ---------------*/
  .table-head {
    color: $main-color;
    font-weight: bold;
  }
}

// .order_details {
.nb-theme-corporate nb-select.size-medium:not(.full-width) {
  // max-width: 23rem !important;
  // width: 100% !important;
}
