<div class="inner_pages rules_page">
  <div class="" [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <nb-card-header class="main_header">
      <h1 class="page_title">{{'RULES.ADD_RULES' | translate}}</h1>

      <div class="content_spacing">
        <button type="button" nbButton class="success_button">Submit</button>
      </div>
    </nb-card-header>
    <form #pagesForm="ngForm" role="form">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <nb-card class="nb-card inline-form-card">
            <nb-card-header class="nb-card-header">{{'RULES.RULES_METADATA' | translate}}</nb-card-header>
            <nb-card-body class="nb-card-body">

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="label inputLabel">{{'RULES.RULES_UNIQUE_CODE' | translate}}</label>
                    <input type="text" class="form-control inputText" placeholder="{{'RULES.RULES_UNIQUE_CODE' | translate}}"
                      [(ngModel)]="rules.code" name="code">
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="label inputLabel">{{'RULES.RULES_NAME' | translate}}</label>
                    <input type="text" class="form-control inputText" placeholder="{{'RULES.RULES_NAME' | translate}}"
                      name="name" [(ngModel)]="rules.name">
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <nb-radio-group [(ngModel)]="rules.timeBased" name="timeBased">
                      <nb-radio class="shipping-radio" [value]="false">{{'RULES.TIME_UNLIMITED' | translate}}</nb-radio>
                      <nb-radio class="shipping-radio" [value]="true">{{'RULES.TIME_BASED' | translate}}</nb-radio>
                    </nb-radio-group>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" *ngIf="rules.timeBased">
                  <div class="form-group">
                    <input class="form-control has-person-icon inputText" placeholder="{{'RULES.START_DATE' | translate}}"
                      [readOnly]="true" [nbDatepicker]="datepicker" [(ngModel)]="rules.startDate" name="startDate">
                    <nb-datepicker #datepicker></nb-datepicker>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" *ngIf="rules.timeBased">
                  <div class="form-group">
                    <input class="form-control has-person-icon inputText" placeholder="{{'RULES.END_DATE' | translate}}"
                      [readOnly]="true" [nbDatepicker]="datepicker" [(ngModel)]="rules.endDate" name="endDate">
                    <nb-datepicker #datepicker></nb-datepicker>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="label inputLabel">{{'RULES.ORDER' | translate}}</label>
                    <input type="number" class="form-control inputText" placeholder="{{'RULES.ORDER' | translate}}"
                      [(ngModel)]="rules.order" name="order">
                  </div>
                </div>
              </div>

            </nb-card-body>
          </nb-card>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <nb-card class="nb-card inline-form-card">
            <nb-card-header class="nb-card-header"> {{'RULES.RULES_CONDITION' | translate}}</nb-card-header>
            <nb-card-body class="nb-card-body">

              <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group" *ngIf="this.config">
                    <!-- <label for="inputWebsite" class="label inputLabel">Rules condition</label> -->
                    <query-builder [(ngModel)]='query' [config]='config' name="query"></query-builder>
                  </div>
                </div>
              </div>

            </nb-card-body>
          </nb-card>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <nb-card class="nb-card inline-form-card">
            <nb-card-header class="nb-card-header">{{'RULES.SHIPPING_RESULTS' | translate}}</nb-card-header>
            <nb-card-body class="nb-card-body">

              <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                  <div style="text-align: center">
                    <nb-select placeholder="{{'RULES.SELECT_CONFIGURATION' | translate}}" outline shape="rectangle"
                      class="select_fields" [(ngModel)]="rules.selected_result" name="selected_result">
                      <nb-option *ngFor="let result of shippingResult" [value]="result">{{result.name}}</nb-option>
                    </nb-select>
                    <!-- <div> -->
                    <button type="button" nbButton class="configure_button" [disabled]="!rules.selected_result" (click)="onClickConfigure()">{{'RULES.CONFIGURE'
                      | translate}}</button>
                    <!-- </div> -->
                  </div>

                  <div class="configure_area">
                    <label class="configure_area_label">{{'RULES.CONFIGURE_AREA' | translate}}</label>
                    <div *ngIf="selectedResult">
                      <label class="label inputLabel">{{'RULES.RESULT_NAME' | translate}}</label>
                      <div class="form-group" *ngIf="selectedResult.format == 'STRING' && selectedResult.selectOptions.length == 0">
                        <input type="text" class="form-control inputText" placeholder="{{'RULES.RESULT_NAME' | translate}}"
                          name="result_name">
                      </div>
                      <div class="form_group" *ngIf="selectedResult.format == 'STRING' && selectedResult.selectOptions.length > 0">
                        <!-- <label class="label inputLabel">Result name</label> -->
                        <nb-select placeholder="{{'RULES.SELECT_METHODS' | translate}}" outline shape="rectangle" class="select_methods">
                          <nb-option *ngFor="let methods of selectedResult.selectOptions" [value]="methods.code">{{methods.name}}</nb-option>
                        </nb-select>
                      </div>
                      <div class="form_group" *ngIf="selectedResult.format == 'DECIMAL' || selectedResult.format == 'NUMERIC'">
                        <!-- <label class="label inputLabel">Result name</label> -->
                        <input type="number" class="form-control inputText" placeholder="{{'RULES.RESULT_NAME' | translate}}"
                          name="result_name">
                      </div>
                      <div class="form-group" *ngIf="selectedResult.format == 'BOOLEAN'">
                        <!-- <label class="label inputLabel">Result name</label> -->
                        <nb-radio-group name="result_name">
                          <nb-radio class="shipping-radio" [value]="true">{{'RULES.YES' | translate}}</nb-radio>
                          <nb-radio class="shipping-radio" [value]="false">{{'RULES.NO' | translate}}</nb-radio>
                        </nb-radio-group>
                      </div>
                      <div style="margin-top:20px;">
                        <button type="button" nbButton class="configure_cancel_button">{{'COMMON.CANCEL' | translate }}</button>
                        <button type="button" nbButton class="configure_button">{{'COMMON.SAVE' | translate}}</button>
                      </div>
                    </div>


                  </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                  <div class="containerCenter">
                    <div class="centerSec">
                      <div class="tabelSec">
                        <table border="1">
                          <thead>
                            <tr>
                              <th>{{'RULES.RESULT_NAME' | translate}}</th>
                              <th>{{'RULES.VALUE' | translate}}</th>
                              <th>{{'COMMON.ACTIONS' | translate}}</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let result of resultData">
                              <td>{{result.code}}</td>
                              <td>{{result.value}}</td>
                              <td><i class="nb-trash"></i></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </form>
  </div>
</div>