<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="goToHome()"><img src="../../../../assets/img/shopizer-logo.png" alt="" /></a>
  </div>
</div>

<div class="header-container">
  <nb-actions class="header-action" size="medium" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">
    <nb-action size="large" [nbContextMenu]="languages" nbContextMenuTag="language">
      {{ 'COMMON.LANGUAGES' | translate}}  - ({{'LANG.' + language | translate}})
    </nb-action>
    <nb-action *nbIsGranted="['view', 'user']">
      <nb-user [nbContextMenu]="localedMenu" [name]="user"></nb-user>
    </nb-action>
  </nb-actions>
</div>