<div class="inner_pages option_create_page">
  <form [formGroup]='form' class="optionDetailsForm">
    <nb-card-header class="main_header">
      <h1 class="page_title">{{ 'COMPONENTS.OPTIONS' | translate}}</h1>
      <div class="content_spacing">
        <button type="button" nbButton class="cancel_button" (click)="goToback()">{{ 'ORDER_FORM.CANCLE'
          | translate}}</button>
      </div>
      <div class="content_spacing">
        <button *ngIf="!loader" nbButton type="submit" class="success_button" (click)="save()"
          [disabled]="!form.valid">{{ 'COMMON.SAVE'
          |
          translate }}</button>
      </div>
    </nb-card-header>

    <div *ngIf="!loader" [nbSpinner]="loadingInfo" nbSpinnerSize="large" nbSpinnerStatus="primary">
      <nb-card class="nb-card inline-form-card">
        <nb-card-body class="nb-card-body">
          <div class="form-group">
            <label for="code" class="col-sm-10 col-form-label inputLabel">{{ 'COMMON.CODE' | translate}} *</label>
            <div class="col-sm-12">
              <input type="text" class="form-control inputText" id="code" formControlName='code'
                (change)="checkCode($event)" [readOnly]="option.id" placeholder="{{ 'COMMON.CODE' | translate}}"
                required>
              <div *ngIf="(code.dirty || code.touched) && code.invalid && code">
                <span *ngIf="code.errors.required" class="err-message">
                  {{ 'COMMON.CODE_REQUIRED' | translate}}
                </span>
                <span *ngIf="code.errors.pattern" class="err-message">
                  {{ 'COMMON.ALPHA_DECIMAL_RULE' | translate}}
                </span>
              </div>
              <span *ngIf="!isCodeUnique" class="err-message">
                {{ 'COMMON.CODE_EXISTS' | translate}}
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="code" class="col-sm-10 col-form-label inputLabel">{{ 'COMMON.LANGUAGE' | translate}} *</label>
            <div class="col-sm-12">
              <nb-select *ngIf="languages.length" placeholder="{{ 'COMMON.LANGUAGE' | translate }}" outline
                shape="rectangle" class="fullWidth" formControlName='selectedLanguage'>
                <nb-option *ngFor="let language of languages" [value]="language.code">{{ ('LANG.'+language.code) |
                  translate }}</nb-option>
              </nb-select>
            </div>
          </div>
          <div *ngIf="!loader" formArrayName='descriptions'>
            <div *ngFor="let descr of descriptions.controls; let j=index">
              <div *ngIf="descr.value.language === selectedLanguage.value">
                <div [formGroupName]="j">
                  <div class="form-group">
                    <label for="name" class="col-sm-10 col-form-label inputLabel">{{ 'DESCRIPTION_FORM.NAME' |
                      translate }}
                      *</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control inputText" id="name" formControlName='name'
                        placeholder="{{ 'DESCRIPTION_FORM.NAME' | translate }}" required>
                      <span *ngIf="(descr.get('name').dirty || descr.get('name').touched) && descr.get('name').invalid
                                    && descr.get('name').errors.required" class="err-message">
                        {{ 'DESCRIPTION_FORM.NAME_REQUIRED' | translate }}
                      </span>
                    </div>
                  </div>

                </div>


              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="type" class="col-sm-10 col-form-label inputLabel">{{ 'COMMON.TYPE' | translate}} *</label>
            <div class="col-sm-12">
              <nb-select *ngIf="types.length" placeholder="{{ 'COMMON.TYPE' | translate}}" id="type"
                formControlName='type' outline shape="rectangle" class="fullWidth" required>
                <nb-option *ngFor="let type of types" [value]="type">{{ 'COMMON.' + type | translate}}</nb-option>
              </nb-select>
            </div>
          </div>

          <!-- <div class="form-group">
            <label class="col-sm-10 col-form-label inputLabel">{{ 'COMMON.LANGUAGE' | translate }} *</label>
            <div class="col-sm-12">
              <nb-select *ngIf="languages.length" placeholder="{{ 'COMMON.LANGUAGE' | translate }}" outline shape="rectangle"
                formControlName='selectedLanguage' class="fullWidth">
                <nb-option *ngFor="let language of languages" [value]="language.code">{{ language.code }}</nb-option>
              </nb-select>
            </div>
          </div> -->


        </nb-card-body>
      </nb-card>


      <!-- </div> -->
    </div>
  </form>
</div>