<!-- <ngx-back-button></ngx-back-button>
<nb-card size="small" class="page-card">
  <nb-card-header>
    {{ 'COMPONENTS.BRAND' | translate}}
  </nb-card-header>
  <nb-card-body [nbSpinner]="loadingInfo" class="loading-block" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <ngx-brand-form *ngIf="brand.id" [brand]="brand"></ngx-brand-form>
  </nb-card-body>
</nb-card> -->


<nb-card size="small" class="page-card">
  <!-- <div *ngIf="loading" class="loading-block" [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary"></div> -->
  <nb-card-body class="brandDetails" [nbSpinner]="loadingInfo" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title"> {{ 'COMPONENTS.BRAND' | translate}}</h1>
        <div class="content_spacing" style="height:60px;">
        </div>
        <button type="submit" class="btn cancel_button">Cancel</button>
      </nb-card-header>
    </div>
    <ngx-brand-form *ngIf="brand.id" [brand]="brand"></ngx-brand-form>
  </nb-card-body>
</nb-card>