<div class="inner_pages product_group__create_page">
  <form [formGroup]='form' class="productGroupForm">
    <nb-card-header class="main_header">
      <h1 class="page_title">{{ 'PRODUCT_GROUP.CREATE_PRODUCT_GROUP' | translate}}</h1>
      <div class="content_spacing">
        <button type="button" nbButton class="cancel_button" (click)="goToback()">{{ 'ORDER_FORM.CANCLE'
          | translate}}</button>
      </div>
      <div class="content_spacing">
        <button type="submit" nbButton *ngIf="!uniqueCode" class="success_button" [nbSpinner]="loading"
          nbSpinnerSize="large" nbSpinnerStatus="control" (click)="save()" [disabled]="!form.valid">{{ ( !loading ?
          'COMMON.SAVE' : '' ) | translate }}</button>
        <button type="button" nbButton *ngIf="uniqueCode" class="success_button" (click)="update()">{{'COMMON.UPDATE'|
          translate }}</button>
      </div>
    </nb-card-header>

    <!-- <div [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary"> -->


    <nb-card class="nb-card inline-form-card">
      <nb-card-body class="nb-card-body">
        <div class="form-group">
          <div class="col-sm-12">
            <nb-checkbox formControlName='active'>
              {{ 'COMMON.VISIBLE' | translate}}
            </nb-checkbox>
          </div>
        </div>

        <div class="form-group">
          <label for="code" class="col-sm-10 col-form-label inputLabel">{{ 'COMMON.CODE' | translate}} *</label>
          <div class="col-sm-12">
            <input type="text" class="form-control inputText" id="code" formControlName='code'
              (change)="checkCode($event)" placeholder="{{ 'COMMON.CODE' | translate}}" [readOnly]="uniqueCode"
              required>
            <div class="err-message" *ngIf="(code.dirty || code.touched) && code.invalid && code">
              <span *ngIf="code.errors.required">
                {{ 'COMMON.CODE_REQUIRED' | translate}}
              </span>
              <span *ngIf="code.errors.pattern">
                {{ 'COMMON.ALPHA_DECIMAL_RULE' | translate}}
              </span>
            </div>
            <span *ngIf="!isCodeUnique" class="err-message">
              {{ 'COMMON.CODE_EXISTS' | translate}}
            </span>
          </div>
        </div>
        <div class="form-group" *ngIf="uniqueCode && products?.length > 0">
          <div class="col-sm-12">
            <div class="mainBody">
              <ng-multiselect-dropdown name="product" placeholder="{{ 'PRODUCT.SELECT' | translate}}"
                [settings]="dropdownSettings" [data]="products" [formControl]="form.controls['product']"
                (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)"
                (onFilterChange)="onFilterChange($event)">
              </ng-multiselect-dropdown>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>


    <!-- </div> -->
  </form>
</div>
<!-- </nb-card-body>
</nb-card> -->