<head></head>
<div class="row custom_file_image">
  <div class="col-md-6 file_part">
    <div class="uploader-wrapper">

      <ngx-awesome-uploader [enableCropper]="false" [showPreviewContainer]="false" [adapter]="adapter"
        [fileMaxCount]="10" [fileMaxSize]="4" [uploadType]="'multi'" (validationError)="onValidationError($event)"
        [fileExtensions]="['jpg', 'jpeg', 'png', 'gif', 'webp']" [enableCropper]="false"
        (uploadSuccess)="onUploadSuccess($event)" (uploadError)="onUploadError($event)"
        (removeSuccess)="onRemoveSuccess($event)" (fileAdded)="onFileAdded($event)" [itemTemplate]="uploadItemTemplate"
        [accept]="'.jpg, .png, .gif, .webp, .jpeg'">
        <div class="dropzoneTemplate">
          <div class="content">
            <img src="../../../../../assets/img/cloud-computing.png" width="80">
            <div class="content-top-text"> {{ 'COMMON.DRAG_DROP' | translate}} </div>
            <div class="content-center-text"> {{ 'COMMON.OR' | translate}} </div>
            <button class="file-browse-button" type="button"> {{ 'COMMON.BROWSE_FILES' | translate}} </button>
          </div>
        </div>

      </ngx-awesome-uploader>

    </div>

    <ng-template #uploadItemTemplate *ngIf="details == true" let-fileItem="fileItem"
      let-uploadProgress="uploadProgress">
      <p>File Size: {{fileItem.file.size}}</p>
      <p>File Name: {{fileItem.fileName}}</p>
      <p>Upload Progress: {{uploadProgress}} % </p>
    </ng-template>
  </div>


  <div class="col-md-6 image_part">
    <div *ngIf="images.length">
      <!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)"
        (onChangeOrder)="onChangeimage($images)">
        <div class="example-box" *ngFor="let image of images" cdkDrag><img [src]="image?.imageUrl" [alt]="image?.path">
        </div>
      </div> -->
      <!-- <div class="grid-container" cdkDropListOrientation="horizontal" cdkDropList (cdkDropListDropped)="drop($event)"
        (onChangeOrder)="onChangeimage($images)">
        <div *ngFor='let image of images' cdkDrag class="image-item">
          <div class="grid-item square">
            <img [src]="image?.imageUrl" [alt]="image?.path">
            <span id="clickableDeleteIcon">
              <span><i class="fas fa-times" (click)="removeImage(image)"></i></span>
            </span>
          </div>
        </div>
      </div> -->
      <div class="item-container" cdkDropListGroup>
        <div cdkDropList (cdkDropListDropped)="dropListDropped()" (cdkDropListEntered)="cdkDropListEntered($event)">
        </div>
        <div cdkDropList *ngFor="let image of images; trackBy: itemTrackBy" (cdkDropListDropped)="dropListDropped()"
          (cdkDropListEntered)="cdkDropListEntered($event)">
          <div cdkDrag class="example-box">
            <img [src]="image?.imageUrl" [alt]="image?.path" width="250">
            <span id="clickableDeleteIcon">
              <span><i class="fas fa-times" (click)="removeImage(image)"></i></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>