<nb-card class="page-card">
  <div *ngIf="loading" class="loading-block" [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary">
  </div>
  <nb-card-body *ngIf="!loading" class="productsGroupList">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ 'STORE.STORE_INFORMATION' | translate}}</h1>
        <div class="content_spacing">
          <nb-select *ngIf="groups.length" placeholder="{{ 'PRODUCT_GROUP.SELECT_PRODUCT_GROUP' | translate}}" outline
            shape="rectangle">
            <nb-option *ngFor="let group of groups" [value]="group.code" (click)="selectGroup(group.code)">
              {{ group.code }}</nb-option>
          </nb-select>
        </div>
        <button type="submit" class="btn submit_button">{{ 'PRODUCT_GROUP.CREATE_PRODUCT_GROUP' | translate}}</button>

      </nb-card-header>
    </div>
    <p-pickList sourceHeader="{{ 'COMMON.AVAILABLE' | translate}}" targetHeader="{{ 'COMMON.SELECTED' | translate}}"
      dragdrop="true" [responsive]="true" [source]="availableList" [target]="selectedList" sourceFilterPlaceholder="{{ 'COMMON.SEARCH' | translate}}"
      targetFilterPlaceholder="{{ 'COMMON.SEARCH' | translate}}" [showSourceControls]="false" [showTargetControls]="false"
      [disabled]="!selectedGroup" (onMoveToTarget)="moveEvent($event, 'toTarget')" (onMoveToSource)="moveEvent($event, 'toSource')"
      (onMoveAllToTarget)="moveEvent($event, 'allToTarget')" (onMoveAllToSource)="moveEvent($event, 'allToSource')"
      filterBy="code">
      <ng-template let-item pTemplate="item">
        <div class="ui-helper-clearfix item-picklist">
          <div>{{item?.id}}</div>
          <div>{{item?.description?.name}}</div>
        </div>
      </ng-template>
    </p-pickList>
  </nb-card-body>
</nb-card>