<nb-card class="page-card inner_pages">
  <nb-card-body [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary" class="category_hierarcy">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ 'COMPONENTS.CATEGORIES_HIERARCHY' | translate}}</h1>
        <div class="content_spacing_empty"></div>

      </nb-card-header>
      <div class="content_spacing_empty">
        <p>
          {{ 'CATEGORY_HIERARCHY.DETAILS' | translate}}
        </p>
      </div>
      <div *ngIf="nodes.length !== 0">

          <tree-root #tree [nodes]="nodes" [options]="options" (moveNode)="onMoveNode($event)">
              <ng-template #treeNodeTemplate let-node let-index="index">              
                  <div>{{ node.data.name }}</div>
              </ng-template>
          </tree-root>

      </div>
    </div>
  </nb-card-body>
</nb-card>