<div class="inner_pages create_page">
  <nb-card-header class="main_header">
    <h1 class="page_title" *ngIf="action == 'save'">{{'CONTENT.ADD_PAGE_DETAILS' | translate}}</h1>
    <h1 class="page_title" *ngIf="action == 'edit'">{{'CONTENT.UPDATE_PAGE_DETAILS' | translate}}</h1>

    <div class="content_spacing">
      <button type="button" nbButton class="cancel_button" (click)="goToback()">{{ 'COMMON.CANCEL'
        | translate}}</button>
    </div>
    <div class="content_spacing">
      <button type="submit" nbButton class="success_button" *ngIf="action == 'save'" (click)="createPages()">{{'COMMON.SAVE'|
        translate }}</button>
      <button type="submit" nbButton class="success_button" *ngIf="action == 'edit'" (click)="createPages()">{{'COMMON.UPDATE'|
        translate }}</button>
    </div>
  </nb-card-header>

  <div class="" [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <form [formGroup]='form' *ngIf="!loader">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <nb-card class="nb-card inline-form-card">
            <nb-card-header class="nb-card-header">{{ 'CONTENT.BASIC_DETAILS' | translate}}</nb-card-header>
            <nb-card-body class="nb-card-body">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <nb-checkbox formControlName='visible'>{{ 'CONTENT.VISIBLE' | translate}}</nb-checkbox>
                    <!--<nb-checkbox [(ngModel)]="visible" name="visible">{{ 'CONTENT.VISIBLE' | translate}}</nb-checkbox>-->
                    <!--<nb-checkbox [(ngModel)]="mainmenu" name="mainmenu">{{ 'CONTENT.MAINMENU' | translate}}-->
                    <nb-checkbox formControlName='mainmenu'>{{ 'CONTENT.MAINMENU' | translate}}</nb-checkbox>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label for="inputWebsite" class="label inputLabel">{{ 'CONTENT.CODE' | translate}} <span>*</span></label>
                    <input type="{{ 'CONTENT.CODE' | translate}}" formControlName='code' class="form-control inputText"
                      id="code" placeholder="Code" (focusout)="focusOutFunction($event)" required>
                    <div class="err-message" *ngIf="(code.dirty || code.touched) && code.invalid && code">
                      <span *ngIf="code.errors.required">
                        {{ 'COMMON.CODE_REQUIRED' | translate}}
                      </span>
                      <span *ngIf="code.errors.pattern">
                        {{ 'COMMON.ALPHA_DECIMAL_RULE' | translate}}
                      </span>
                    </div>
                    <span *ngIf="isCodeExists" class="err-message">
                      {{ 'COMMON.CODE_EXISTS' | translate}}
                    </span>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label for="exampleInputPassword1" class="label inputLabel">{{ 'CONTENT.ORDER' | translate}}</label>
                    <input type="number" formControlName='order' class="form-control inputText" id="order" placeholder="{{ 'CONTENT.ORDER' | translate}}">
                  </div>
                </div>
              </div>

            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <nb-card class="nb-card inline-form-card">
            <nb-card-header class="nb-card-header">{{ 'CONTENT.PAGE_CONTENT' | translate}} - {{('LANG.'+
              currentLanguage) |translate }}&nbsp;
              <nb-select *ngIf="languages.length" placeholder="{{ 'COMMON.LANGUAGE' | translate}}" outline shape="rectangle"
                name='selectedLanguage' [selected]="defaultLanguage">
                <nb-option (click)="selectLanguage(language.code)" *ngFor="let language of languages" [value]="language.code">{{
                  ('LANG.'+language.code) |translate }}</nb-option>
              </nb-select>
            </nb-card-header>
            <nb-card-body class="nb-card-body">
              <div *ngIf="selectedLanguage.value !== ''" formArrayName='descriptions'>
                <div *ngFor="let descr of descriptions.controls; let j=index">
                  <div *ngIf="descr.value.language === selectedLanguage.value">
                    <div class="row" [formGroupName]="j">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label for="title" class="label inputLabel">{{ 'CONTENT.TITLE' | translate}}</label>
                          <input type="text" formControlName="title" class="form-control inputText" id="title"
                            placeholder="{{ 'CONTENT.TITLE' | translate}}">
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label for="description" class="label inputLabel">{{ 'CONTENT.METATAG' |
                            translate}}</label>
                          <input type="text" formControlName="metaDescription" class="form-control inputText" id="metaDescription"
                            placeholder="{{ 'CONTENT.METATAG' | translate}}">
                        </div>
                      </div>
                    </div>
                    <div class="row" [formGroupName]="j">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label for="name" class="label inputLabel">{{ 'CONTENT.PAGE_NAME' |
                            translate}}<span>*</span></label>
                          <input type="text" formControlName="name" class="form-control inputText" id="name"
                            placeholder="{{ 'CONTENT.PAGE_NAME' | translate}}" (ngModelChange)="urlTitle($event, j)">
                          <span *ngIf="(descr.get('name').dirty || descr.get('name').touched) && descr.get('name').invalid && descr.get('name').errors.required"
                            class="err-message">
                            {{ 'DESCRIPTION_FORM.NAME_REQUIRED' | translate }}
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label for="friendlyUrl" class="label inputLabel">{{ 'CONTENT.FRIENDLY_URL' |
                            translate}} <span>*</span></label>
                          <input type="text" formControlName="friendlyUrl" class="form-control inputText" id="friendlyUrl"
                            placeholder="{{ 'CONTENT.FRIENDLY_URL' | translate}}">
                          <span *ngIf="(descr.get('friendlyUrl').dirty || descr.get('friendlyUrl').touched)
                            && descr.get('friendlyUrl').invalid && descr.get('friendlyUrl').errors.required"
                            class="err-message">
                            {{ 'DESCRIPTION_FORM.FRIENDLY_URL_REQUIRED' | translate }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <nb-card class="nb-card inline-form-card">
            <nb-card-header class="nb-card-header">{{ 'CONTENT.PAGE_CONTENT' | translate}}</nb-card-header>
            <nb-card-body class="nb-card-body">
              <div *ngIf="selectedLanguage.value !== ''" formArrayName='descriptions'>
                <div *ngFor="let descr of descriptions.controls; let j=index">
                  <div *ngIf="descr.value.language === selectedLanguage.value">
                    <div [formGroupName]="j">
                      <div [ngxSummernote]="editorConfig" formControlName="description">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </form>
  </div>

</div>