<nb-card size="small" class="page-card">
  <nb-card-header>
    {{ 'COMPONENTS.RETAILER_LIST' | translate }}
  </nb-card-header>
  <nb-card-body [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <ng2-smart-table [settings]="settings" [source]="source" (custom)="route($event)">
    </ng2-smart-table>

    <ngx-paginator
      (changePage)="changePage($event)"
      [pagesToShow]="5"
      [currentPage]="currentPage"
      [perPage]="perPage"
      [count]="totalCount" class="home-table">
    </ngx-paginator>
  </nb-card-body>
</nb-card>
