<div class="card twolistselection" id="{{cid}}" #filterlistTemplate>
    <div class="card-header">
        <div class="form-check">
            <label class="form-check-label" id="{{cid}}_listlabel" for="{{cid}}_checkAll">
                <input type="checkbox" class="form-check-input" attr.aria-describedby="{{cid}}_listhelp" id="{{cid}}_checkAll" (change)="selectOrUnselectAll($event)" #inputRef>
               <strong> {{listName}}</strong>
            </label>
            <small id="{{cid}}_listhelp" class="form-text text-muted sr-only">Checkbox to select all {{listName}} options</small>

            <div *ngIf="showDelete" class="pull-right">
                <button class="btn btn-danger" type="button" (click)=onDelete($event)><i class="fa fa-trash"
                        aria-hidden="false"></i></button>
            </div>
        </div>
    </div>
    <div class="form-group form-group-sm">
        <label class="sr-only col-form-label" for="{{cid}}_keyword">Search</label>
        <input type="text" class="form-control keyword-search" [(ngModel)]="search"
            placeholder="Keyword Search.." id="{{cid}}_keyword" />
    </div>
    <div class="card-block">

        <ul class="list-group"
            id="{{cid}}_ul"
            tabindex="0"
            attr.aria-labelledby="{{cid}}_listlabel"
            aria-multiselectable="true" role="listbox"
            [attr.aria-activedescendant]="activedescendentItem"
            (keydown)="onKeydown($event)">
            <li #option class="list-item"
                role="option"
                (click)="onSelect($event, item)"
                attr.aria-selected={{item.value.selected}} attr.data-code={{item.key}}
                id="{{cid}}_list_item_{{item.key}}"
                *ngFor= "let item of itemsMap| keyvalue|keywordsearch:'label':search" >
                <i *ngIf="item.value.selected==true" class="fa fa-check" attr.aria-hidden="true"></i>

                {{item.value.label}}

            </li>
        </ul>

    </div>
</div>