<!-- <nb-card size="small" class="page-card">

  <nb-card-body class="newProduct">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title"> {{'COMPONENTS.CREATE_PRODUCT' | translate}}</h1>
        <div class="content_spacing" style="height:60px;">
        </div>
        <button type="submit" class="btn success_button">Save</button>
      </nb-card-header>
    </div> -->
<div>
  <ngx-product-form [product]="product" _title="COMPONENTS.CREATE_PRODUCT"></ngx-product-form>
</div>
<!-- </nb-card-body>
</nb-card> -->