<nb-card class="page-card">
  <div *ngIf="loading" class="loading-block" [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary">
  </div>
  <nb-card-body *ngIf="!loading">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ 'STORE.STORE_INFORMATION' | translate}}</h1>
        <div class="content_spacing">
          <nb-select [(selected)]="selectedItem" outline shape="rectangle">
            <nb-option *ngFor="let item of sidemenuLinks" [value]="item.id" (click)="route(item.link)">{{ item.title }}
            </nb-option>
          </nb-select>
        </div>

        <div class="content_spacing">

        </div>

      </nb-card-header>

      <form [formGroup]="imageUpload">
        <div class="wrapper" (click)='imageInput.click()' (drop)="drop($event)" (dragover)="allowDrop($event)">
          <div id="imageDrop" #imageDrop>

            <img *ngIf="logo" [src]="logo?.path" style="max-height:200;" />

          </div>
          <div class="uploadingPhrase">{{ 'STORE_BRANDING.DROP_FILE' | translate}}</div>
        </div>

        <input type="file" formControlName="imageInput" required #imageInput id="imageInput"
          (change)='imageChange($event)'>

        <div class="form-group actions-button">
          <button type="submit" class="btn btn-danger" *ngIf="showRemoveButton" (click)="removeLogo()">{{
            'COMMON.REMOVE' | translate}}</button>
          <button type="submit" class="btn btn-primary" (click)="saveLogo()" *ngIf="logoFile" nbButton
            [nbSpinner]="loadingButton" nbSpinnerSize="large" nbSpinnerMessage="">
            {{ ( !loadingButton ? 'COMMON.SAVE' : '' ) | translate }}
            <!-- {{ 'COMMON.SAVE' | translate}} -->
          </button>
        </div>

      </form>

    </div>
  </nb-card-body>
</nb-card>