<!--<ngx-back-button></ngx-back-button>-->
<!--<nb-card size="small" class="page-card">-->
  <!--
  <nb-card-header>
    {{ 'STORE_BRANDING.STORE_LOGO' | translate}}
  </nb-card-header>
-->

<nb-card size="small" class="page-card">
    <div *ngIf="loading" class="loading-block" [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary"></div>
    <nb-card-body *ngIf="!loading">
    <div class="inner_pages_legacy">
        <nb-card-header class="main_header">
          <h1 class="page_title">{{ 'STORE.STORE_INFORMATION' | translate}}</h1>
          <div class="content_spacing">
              <nb-select [(selected)]="selectedItem" outline shape="rectangle">
                <nb-option *ngFor="let item of sidemenuLinks" [value]="item.id" (click)="route(item.link)">{{ item.title }}</nb-option>
              </nb-select>
          </div>

          <div class="content_spacing">

          </div>
        
        </nb-card-header>
      

  <!--
  <div *ngIf="loading" class="loading-block"
       [nbSpinner]="loading"
       nbSpinnerSize="large"
       nbSpinnerStatus="primary">
  </div>

  <nb-card-body *ngIf="!loading">
  -->
      <!--
      <div style="margin-top:10px;">

          <nb-select [(selected)]="selectedItem" outline shape="rectangle" class="right-card-select" style="margin-left: 0px !important;">
            <nb-option *ngFor="let item of sidemenuLinks" [value]="item.id" (click)="route(item.link)">{{ item.title }}</nb-option>
          </nb-select>

      </div>
    -->
    <form [formGroup]="imageUpload">
      <div class="wrapper" (click)='imageInput.click()' (drop)="drop($event)" (dragover)="allowDrop($event)">
        <div id="imageDrop" #imageDrop>

          <img *ngIf="logo" [src]="logo?.path" style="max-height:200;"/>

        </div>
        <div class="uploadingPhrase">{{ 'STORE_BRANDING.DROP_FILE' | translate}}</div>
      </div>

      <input type="file" formControlName="imageInput" required #imageInput id="imageInput"
             (change)='imageChange($event)'>

      <div class="form-group actions-button">
        <button type="submit" class="btn btn-danger" *ngIf="showRemoveButton"
                (click)="removeLogo()">{{ 'COMMON.REMOVE' | translate}}</button>
        <button type="submit" class="btn btn-primary"
                (click)="saveLogo()"
                *ngIf="logoFile"
                nbButton [nbSpinner]="loadingButton"
                nbSpinnerSize="large"
                nbSpinnerMessage="">
          {{ 'COMMON.SAVE' | translate}}
        </button>
      </div>

    </form>
  <!--</nb-card-body>-->
<!--</nb-card>-->
</div>
</nb-card-body>
</nb-card>

<!--
<nb-card size="small" class="page-card">
  <nb-card-header>
    {{ 'STORE_BRANDING.NETWORKS_MARKETING' | translate}}
  </nb-card-header>
  <div *ngIf="loading" class="loading-block" [nbSpinner]="loading" nbSpinnerSize="large"
       nbSpinnerStatus="primary"></div>
  <nb-card-body *ngIf="!loading">
    <form [formGroup]='form'>

      
      <div formArrayName="socialNetworks">
        <div *ngFor="let sn of socialNetworks.controls; let i=index">
          <div [formGroupName]="i">
            <nb-checkbox status="success" formControlName='active'>
              <i ngClass="fab fa-{{socialNetworks.controls[i].value.key.split('_')[0]}}"></i>
              {{socialNetworks.controls[i].value.key.split('_')[0][0].toUpperCase() + socialNetworks.controls[i].value.key.split('_')[0].slice(1)}}
            </nb-checkbox>
            <input type="text" class="form-control" fullWidth fieldSize="small" formControlName="value"
                   required>
          </div>
        </div>
      </div>

      <div class="form-group actions-button">
        <button type="submit" class="btn btn-primary" (click)="saveNetworks()">{{ 'COMMON.SAVE' | translate}}</button>
      </div>
    

    </form>
  </nb-card-body>
</nb-card>
-->
